.expand-widget {
  @include pointer;
  @include flex-center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 44px;
  padding: 0 0 12px;
  margin: 0 -24px;
  background: url("./assets/bg-expand.svg") no-repeat center / 100% 100%;
  text-transform: capitalize;

  svg {
    width: 12px;
    transition: 0.3s ease transform;
  }

  &.expanded {
    svg {
      transform: rotate(180deg);
    }
  }
}

.form {
  @include flex-center;

  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  margin: -24px -24px 0;
  padding: 24px 24px 60px;
  background: #fff;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
}

@mixin rewrite() {
  .form {
    margin: -24px 0 0;
    padding: 0;
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite;
  }
}

@media (width <= 1000px) {
  :global(.is-pc) {
    @include rewrite;
  }
}
