.header {
  @include flex-center;

  justify-content: space-between;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  height: $header-height;
  padding: 0 16px;
  transition: opacity 1s ease;

  .icon-menu {
    @include pointer;

    display: none;

    // position: absolute;
    // left: 12px;
    // top: calc(($header-height - 1.2em) / 2);
    width: 1.2em;
    padding: calc(((36px - 1.2em) / 2));
    box-sizing: content-box;
    color: #fff;
  }
}

:global {
  .main-content.main-content {
    margin-top: $header-height;
  }
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  // background: $color-main-gradient;
  background: rgba(#000, 0.4);
  backdrop-filter: blur(10px);
}

.logo-wrapper {
  @include flex-center;

  gap: 4px;
  flex: none;
  height: $header-height;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: 16px;
}

.product-selector {
  margin: 0;
}

.left {
  @include flex-center;

  justify-content: flex-start;
  gap: 40px;
  flex: 1;
}

.link {
  @include pointer;

  position: relative;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  opacity: 0.65;
  white-space: nowrap;

  &:hover,
  &.active {
    color: #fff;
    opacity: 1;
  }

  &.active {
    @include medium;

    // text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #fff;
    }
  }
}

.txt-gradient {
  @include gradient-txt;
}

.txt-gradient-2 {
  @include gradient-txt-2;
}

.btn-link {
  @include flex-center;
  @include pointer;

  flex: 1;
  position: relative;
  height: 32px;
  padding: 0 16px;
  border-radius: 20px;
  color: #fff !important;
  background: rgba(#fff, 0.16);

  svg {
    height: 20px;
  }

  &:hover {
    background: rgba(#fff, 0.26);
  }

  &.active {
    color: #000 !important;
    background: #fff;
  }

  &:global(.btn-gradient) {
    color: #000 !important;
    background: linear-gradient(to right, #51acf1, #fffa00);
  }
}

.nav-selector-item {
  max-width: none;
  width: min(90vw, 520px);

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  :global(.semi-select-option-text) {
    @include flex-center;
    flex-wrap: nowrap;
    gap: 12px;
    width: 100%;
    white-space: initial;

    .icon {
      svg,
      img {
        width: 48px;
        height: 48px;
      }
    }

    .txt {
      flex: 1;

      .txt-label {
        display: block;
        margin: 0 0 8px;
        font-size: 18px;
      }

      .txt-desc {
        display: block;
        width: auto;
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }
}

.nav-selector {
  padding: 8px;
  border-radius: 24px;

  :global(.semi-dropdown-title) {
    margin: 24px 0 8px;
    padding: 16px 20px 4px;

    &:first-child {
      margin-top: 0;
    }
  }

  :global(.semi-dropdown-item) {
    padding: 12px 20px;
  }
}

.rch-entry {
  @include pointer;

  display: block;
  width: 72px;
  height: 32px;
  border-radius: 20px;
  background: url("./assets/btn-rch.png") no-repeat center / 100%;
}

.other-links {
  @include flex-center;

  gap: 12px;
}

.right {
  @include flex-center;

  gap: 12px;

  > div {
    flex: none;
  }

  .wallet {
    @include flex-center;

    flex: 1;
    gap: 12px;
    width: 100%;

    > div {
      flex: 1;

      &:first-child {
        flex: none;
      }
    }
  }
}

@media (orientation: portrait) {
  .header {
    padding: 0 12px;

    .logo-wrapper {
      justify-content: flex-start;
      width: 100%;
    }

    .logo {
      width: auto;
      height: 20px;
    }

    .icon-menu {
      display: block;
    }

    .link {
      display: none;

      &.active {
        text-indent: 12px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 2px;
          height: 1em;
          border-radius: 1px;
          background: #fff;
          transform: translate(0, -50%);
        }
      }
    }

    .btn-link {
      height: 32px;
      padding: 0 10px;
      font-size: 12px;

      &::before {
        content: none;
      }

      > span {
        display: none;
      }
    }

    .rch-entry {
      width: 90px;
      height: 40px;
    }

    .other-links {
      flex-direction: row-reverse;
    }

    .left {
      width: 100%;
    }

    .wallet,
    .right {
      gap: 8px;
    }

    .lang-selector {
      display: none;
    }

    &.expanded {
      @include flex-column-center;

      align-items: flex-start;
      justify-content: space-between;
      z-index: 1000;
      height: 100%;
      background: #000 !important;

      .link {
        display: block;
        line-height: $header-height;
      }

      .left {
        @include flex-column-center;

        align-items: flex-start;
        flex: none;
        width: 100%;
      }

      .right {
        // @include flex-column-center;

        // align-items: stretch;
        position: absolute;
        top: 0;
        height: $header-height;
        right: 12px;
      }

      .lang-selector {
        display: block;
        position: fixed;
        right: 12px;
        bottom: 12px;
      }
    }
  }
}
