.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  .menu {
    @include flex-center;

    justify-content: space-between;
    gap: 0;
    height: $header-menu-height;
    padding: 0 16px;
    transition: opacity 1s ease;

    .icon-menu {
      @include pointer;

      display: none;

      // position: absolute;
      // left: 12px;
      // top: calc(($header-menu-height - 1.2em) / 2);
      width: 1.2em;
      padding: calc(((36px - 1.2em) / 2));
      box-sizing: content-box;
      color: #fff;
    }
  }
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(#000, 0.4);
  backdrop-filter: blur(10px);
}

.logo-wrapper {
  @include flex-center;

  gap: 4px;
  flex: none;
  height: $header-menu-height;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: 16px;
}

.product-selector {
  margin: 0;
}

.left {
  @include flex-center;

  justify-content: flex-start;
  position: relative;
  gap: 40px;
  flex: 1;
}

.link {
  @include pointer;

  position: relative;
  line-height: min(44px, 9vw);
  font-size: 16px;
  color: #fff;
  opacity: 0.65;
  white-space: nowrap;

  &:hover,
  &.active {
    color: #fff;
    opacity: 1;
  }

  &.active {
    @include medium;

    // text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #fff;
    }
  }
}

.txt-gradient {
  @include gradient-txt;
}

.txt-gradient-2 {
  @include gradient-txt-2;
}

.btn-link {
  @include flex-center;
  @include pointer;

  flex: 1;
  position: relative;
  height: 32px;
  padding: 0 16px;
  border-radius: 20px;
  color: #fff !important;
  background: rgba(#fff, 0.16);

  svg {
    height: 20px;
  }

  &:hover {
    background: rgba(#fff, 0.26);
  }

  &.active {
    color: #000 !important;
    background: #fff;
  }

  &:global(.btn-gradient) {
    color: #000 !important;
    background: linear-gradient(to right, #51acf1, #fffa00);
  }
}

.automator-status {
  color: rgba($color: #fff, $alpha: 45%);
  font-size: 14px;
  font-weight: 400;

  .amount {
    @include bold;

    opacity: 1;
    font-size: 16px;
    background: linear-gradient(270deg, #d98a54 0%, #fffa00 0%, #ffa82e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.nav-selector-item {
  max-width: none;
  width: min($width-content, 560px);
  position: relative;
  margin-bottom: 12px !important;
  margin-left: 6px !important;
  margin-right: 6px !important;

  &:hover,
  &:active {
    background: transparent !important;
  }

  &::before {
    content: "";
    border-radius: 8px;

    // background: rgba(#fff, 0.16);

    // border: 1px solid red;
    position: absolute;
    inset: -1px;
    z-index: 2;
  }

  &.active::before,
  &:hover::before {
    background: $color-main-gradient;
  }

  &:last-child {
    margin-bottom: 10px !important;
  }

  &::after {
    content: "";
    border-radius: 8px;
    background: var(--semi-color-bg-3);
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  &.active::after {
    background: #000;
  }

  > * {
    position: relative;
    z-index: 4;
  }

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  :global(.semi-select-option-text) {
    @include flex-center;

    flex-wrap: nowrap;
    gap: 12px;
    width: 100%;
    white-space: initial;
    margin-left: -10px;

    .icon {
      svg,
      img {
        width: min(44px, 9vw);
        height: min(44px, 9vw);
      }
    }

    .txt {
      flex: 1;

      .txt-label {
        display: block;
        margin: 0 0 2px;
        font-size: min(18px, 3.6vw);
      }

      .txt-desc {
        display: block;
        width: auto;
        font-size: min(14px, 3.2vw);
        opacity: 0.8;
      }
    }
  }
}

.nav-selector {
  padding: 10px 8px 0;
  border-radius: min(16px, 4vw);

  :global(.semi-dropdown-title) {
    margin: 12px 10px 8px;
    padding: 18px 0 4px;
    border-top: 1px rgba(#fff, 0.08) dotted;

    &:first-child {
      margin-top: -16px;
      border-top: none;
    }
  }

  :global(.semi-dropdown-item) {
    padding: min(12px, 2vw) min(20px, 4vw);
  }
}

.rch-entry {
  @include pointer;

  display: block;
  width: 72px;
  height: 32px;
  border-radius: 20px;
  background: url("./assets/btn-rch.png") no-repeat center / 100%;
}

.other-links {
  @include flex-center;

  gap: 12px;
}

.right {
  @include flex-center;

  gap: 12px;

  > div {
    flex: none;
  }

  .wallet {
    @include flex-center;

    flex: 1;
    gap: 12px;
    width: 100%;

    > div {
      flex: 1;

      &:first-child {
        flex: none;
      }
    }
  }
}

@mixin rewrite-header-menu-mobile {
  :global {
    #header-menu-container {
      .semi-portal {
        background: transparent !important;
        pointer-events: none;

        .semi-portal-inner {
          // top: 0 !important;
          // left: 0 !important;
          .semi-dropdown-wrapper {
            position: fixed;
            inset: $header-menu-height - 1 0 0 140px;
            border-radius: 0;
            transition: none !important;
            pointer-events: initial;
          }
        }
      }

      .nav-selector {
        .semi-dropdown-title {
          padding: 12px 8px 3px;

          &:first-child {
            margin-top: -8px;
          }
        }
      }

      .nav-selector-item {
        width: calc(100vw - 170px);
        margin-left: 8px !important;
        margin-right: 8px !important;

        &::before,
        &::after {
          border-radius: 8px;
        }
      }

      .txt-label {
        font-size: 16px !important;
        margin-bottom: 0;
        line-height: 16px !important;
      }

      .txt-desc {
        display: none;
      }
    }

    .header {
      &.expanded {
        .menu {
          padding: 0;

          .logo-wrapper {
            padding-left: 12px;
          }

          > nav {
            display: block;

            .link {
              display: block;
              padding: 0 12px;
              border-bottom: 1px solid #444;

              &.active {
                @include bold;

                text-indent: 0 !important;

                &::before {
                  content: none !important;
                }
              }

              &.selected,
              &:active {
                background-color: #2c2c2c;
              }
            }
          }
        }
      }
    }
  }
}

:global(.header-pathname-a) {
  .wallet {
    display: none;
  }

  .index-prices {
    display: none;
  }
}

@media (orientation: portrait) {
  :global {
    .is-mobile {
      @include rewrite-header-menu-mobile;
    }
  }

  .header {
    border-bottom: 1px solid rgba(#fff, 0.08);

    .bg {
      background: $color-mobile-header-gradient;
    }

    .menu {
      padding: 0 12px;

      .logo-wrapper {
        justify-content: flex-start;
        width: 100%;
      }

      .logo {
        width: auto;
        height: 20px;
      }

      .icon-menu {
        display: block;
      }

      .link {
        display: none;

        &.active {
          text-indent: 12px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 2px;
            height: 1em;
            border-radius: 1px;
            background: #fff;
            transform: translate(0, -50%);
          }
        }
      }

      .btn-link {
        height: 32px;
        padding: 0 10px;
        font-size: 12px;

        &::before {
          content: none;
        }

        > span {
          display: none;
        }
      }

      .rch-entry {
        width: 90px;
        height: 40px;
      }

      .other-links {
        flex-direction: row-reverse;
      }

      .left {
        width: 100%;
      }

      .wallet,
      .right {
        gap: 8px;
      }

      .lang-selector {
        display: none;
      }
    }

    &.expanded {
      .index-prices {
        display: none;
      }

      .menu {
        @include flex-column-center;

        align-items: flex-start;
        justify-content: space-between;
        z-index: 1000;
        height: 100vh;
        background: #141414 !important;

        .expanded-bg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          background: #000;
          height: $header-menu-height;
          border-bottom: 1px solid #444;
        }

        .link {
          display: block;
          line-height: $header-menu-height;
        }

        .left {
          @include flex-column-center;

          align-items: flex-start;
          flex: none;
          width: 100%;
        }

        .right {
          // @include flex-column-center;

          // align-items: stretch;
          position: absolute;
          top: 0;
          height: $header-menu-height;
          right: 12px;
        }

        .lang-selector {
          display: block;
          position: fixed;
          right: 12px;
          bottom: 12px;
        }
      }
    }
  }
}

@media screen and (width <=500px) {
  :global {
    .is-pc {
      @include rewrite-header-menu-mobile;
    }
  }
}
