.badge-leverage {
  position: absolute;
  left: calc(100% + 4px);
  top: 50%;
  padding: 4px !important;
  line-height: 12px !important;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(173 0 255 / 100%),
    rgb(119 36 255 / 100%)
  );
  border-radius: 4px;
  transform: scale(0.8) translate(0, -50%);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 8px;
    height: 8px;
    border: 4px solid transparent;
    border-right-color: rgb(173 0 255 / 100%);
    transform: translate(0, -50%);
  }
}

.title {
  @include flex-center;
  @include medium;

  gap: 20px;
  height: min(40px, 9.6vw);
  margin: 0;
  padding: 0 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: min(16px, 3.8vw);

  > span:first-child {
    @include gradient-txt;
  }

  .apy {
    @include flex-center;

    display: none;
    color: $color-rise;
  }
}

.risk-type {
  @include bold;
  @include flex-center;

  position: relative;
  margin: 12px 0 8px;
  padding: 0 min(32px, 6.4vw);
  font-size: min(20px, 4.2vw);
}

.product {
  @include flex-center;
  @include medium;

  padding: 0 min(32px, 6.4vw);
  margin: 0 0 10px;
  font-size: min(14px, 3.2vw);
  white-space: nowrap;

  .badge {
    @include flex-center;

    height: min(24px, 4.5vw);
    margin: 0;
    padding: 0 min(12px, 2vw);
    font-size: min(14px, 3.2vw);
    background: #f0f0f0;
    border-radius: 4px;
  }
}

.charts {
  @include flex-center;

  min-width: min(360px, 80vw);
  height: min(210px, 30vw);
  margin: -5px 0 20px;
  padding: 0 12px;

  &.dual {
    height: min(251px, 35.8vw);
    margin-bottom: 50px;
  }

  .quote-infos {
    height: min(180px, 30vw);
    background: transparent;

    &:global(:not(.risky)) {
      margin: 0 0 30px;
    }

    &:global(.risky) {
      @include flex-center;

      width: auto;
      margin: 0 min(32px, 6.4vw) -20px;
      background: linear-gradient(96deg, #44c47630 0.36%, #ffe50030 100%);

      > div {
        @include flex-center;

        flex-direction: column;

        > div:first-child {
          font-size: min(24px, 5vw);

          &::first-letter {
            font-size: min(30px, 6vw);
          }
        }

        > div:nth-child(2) {
          color: $color-rise;

          > span:first-child {
            font-size: min(44px, 7vw);
          }

          > span:nth-child(2) {
            font-size: 20px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.btn-wrapper {
  @include flex-center;

  flex-direction: column;
  gap: min(24px);
  margin: 16px 0 0;
  padding: 0 min(32px, 6.4vw);

  button {
    width: 100%;
    height: min(48px, 10vw);
    border-radius: min(24px, 5vw);

    svg {
      width: 1em;
      height: 1em;
    }

    :global {
      .semi-button-content {
        @include flex-center;

        gap: 10px;
      }
    }
  }

  button:nth-child(2) {
    background: transparent !important;
    border: 1px solid #000 !important;
  }

  button:first-child {
    padding: 0;
    background: #000;

    :global {
      .semi-button-content {
        @include gradient-txt;

        svg[data-icon="spin"] {
          color: #fff;
        }
      }
    }
  }

  button:first-child:hover {
    background: rgba(#000, 0.8) !important;
  }

  button:first-child[disabled] {
    background: rgba(#000, 0.6) !important;
  }

  button:nth-child(2):hover {
    border-color: rgba(#000, 0.8) !important;
  }

  button:nth-child(2)[disabled] {
    border-color: rgba(#000, 0.6) !important;
  }
}

.diy-product {
  height: 100%;
  margin: 0;
  padding: 0 0 min(32px, 6.4vw);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

@mixin rewrite-mobile {
  .diy-product {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    background: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .risk-type,
    .product,
    .charts {
      display: flex;
    }

    .charts {
      margin-bottom: 40px;

      &.dual {
        height: 230px;
        padding: 0;
        align-items: baseline;
      }
    }

    .title {
      justify-content: space-between;

      .apy {
        display: flex;
      }
    }
  }

  .quote-infos {
    :global {
      .max-apy {
        display: none;
      }
    }
  }

  .btn-wrapper {
    @include flex-center;

    justify-content: space-between;
    padding: 8px 12px 16px;
    margin: 0;
  }
}

@mixin rewrite-portrait {
  .diy-product {
    padding-bottom: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .charts {
      margin-bottom: 40px;
    }
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite-mobile;
  }
}

@media (width <=500px) {
  @include rewrite-mobile;
}

@media (width <950px) and (width >500px) {
  @include rewrite-portrait;
}
