.form {
  @include flex-center;

  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  margin: -24px -24px 0;
  padding: 24px 24px 60px;
  background: #fff;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
}

.automator-share-modal {
  font-size: 12px;
}
.modal-title {
  .status {
    .amount {
      @include bold;
    }
  }
}
.modal-footer {
  .btn {
    @include pointer;
  }
}

.modal-capturing {
  margin: 0 !important;
  :global(.semi-modal-footer) {
    display: none !important;
  }
}

.automator-size {
  .bar-bg {
    position: relative;
    height: 30px;
    background-color: #000;
    > .bar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: red;
    }
  }
}
