@import "../../../components/YieldTower/index.module";

.address {
  @include flex-center;
  @include bold;

  margin: 0 auto;
}

.content {
  width: 100%;
  padding: min(40px, 3vw) !important;
}

.snapshot {
  :global(.semi-spin-children) {
    @include flex-center;

    flex-wrap: wrap;
    justify-content: space-between;
    gap: min(24px, 4vw) min(120px, 32vw);
  }

  .it-item {
    @include flex-center;

    justify-content: space-between;
    width: calc((100% - min(120px, 32vw)) / 2);
    font-size: min(14px, 3vw);

    .left {
      @include flex-center;

      justify-content: flex-start;
      gap: min(16px, 2vw);
      flex: none;
      min-width: auto;
    }

    .direction {
      &:global(.buy) {
        color: $color-rise;
      }

      &:global(.sell) {
        color: $color-fall;
      }
    }
  }
}

.performance {
  :global {
    .semi-spin-children {
      width: 100%;
    }

    .content {
      @include flex-center;

      justify-content: space-between;
      flex-wrap: wrap;
      gap: min(40px, 4vw);
      margin: 0;
      padding: min(40px, 5vw);
      border-radius: min(24px, 2.4vw);
      border: 1px solid $color-border;
    }

    .chart {
      width: calc(100% + 80px);
      height: 360px;
      margin: -40px;
    }
  }

  h2 {
    text-align: center;
  }
}

@media (orientation: portrait) {
  .snapshot {
    .it-item {
      width: 100%;
    }
  }
}
