.head-title {
  @include flex-center;

  margin: 0;
  padding: 75px 0 30px;
  font-size: min(24px, 5vw);
  text-align: center;
  color: #fff;
}

.tabs.tabs {
  height: min(80px, 14vw);
  padding: 0;
  box-shadow: 0 1px 0 rgba(#fff, 0.12);

  :global {
    .top-tabs-tab {
      width: 50%;
      height: min(80px, 14vw);
      background: transparent !important;
      border-radius: 0;

      svg,
      img {
        width: 2em;
      }

      &.active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  > div {
    width: $width-content;
  }
}

.container.container.container {
  margin: 0 auto;
  width: $width-content;

  :global {
    .semi-empty {
      @include flex-column-center;

      height: 50vh;
    }
  }
}

.cards {
  :global {
    .semi-spin-children {
      @include flex-column-center;

      gap: 24px;
      padding: 24px 0 0;
    }
  }
}
