.executed {
  .title-info {
    background: #dbffa4;
  }

  .subtitle {
    color: #3a8200;
  }

  .target {
    margin-bottom: 8px;
  }

  .exchange-rate-info {
    @include flex-center;

    justify-content: start;

    .exchange-rate {
      border-radius: 4px;
      color: #fff;
      background: #6d6d6d;
      font-size: 12px;
      font-weight: 500;
      padding: 2px 4px;
    }

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      background: url("./assets/icon-division-sign.svg") no-repeat center / 100%;
    }

    &::after {
      content: "";
      width: 6px;
      height: 4px;
      display: inline-block;
      background: url("./assets/icon-approximately.svg") no-repeat center / 100%;
    }
  }
}

.no-executed {
  .title-info {
    background: #ffe0c4;
  }

  .subtitle {
    color: #e36e00;
  }

  .result {
    img {
      display: block;
      margin: 10px 0 4px;
    }
  }
}

.rewards {
  .item {
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

    .label {
      @include flex-center;

      align-items: start;
      gap: 4px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.profit-scenario-wrapper {
  .title-info {
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    padding: 8px;
    align-items: end;
  }

  .title {
    @include bold;

    color: #000;

    .emoji {
      font-size: 19px;
    }
  }

  .subtitle {
    @include bold;

    // color: #3a8200;
  }

  .profit-scenario {
    @include flex-center;

    margin-bottom: 48px;
    justify-content: space-between;
  }

  .left {
    width: 140px;
    height: 132px;
    background-color: #fff;
    padding: 12px;

    .action,
    .target {
      color: rgb(0 0 0 / 65%);
      font-size: 12px;
      font-weight: 500;
    }

    .line {
      width: 100%;
      height: 1px;
      border: #d9d9d9 solid 1px;
      margin: 8px 0;
    }

    .result {
      img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      .amount,
      .unit {
        @include bold;

        line-height: 16px;
        color: #000;
        vertical-align: middle;
      }
    }
  }

  .plus-sign {
    display: block;
    margin: 0 12px;
  }

  .right {
    width: 365px;
    height: 132px;
    padding: 10px 16px;
    border-radius: 0 0 8px 8px;
    background: #fff;

    > .label {
      color: rgb(0 0 0 / 65%);
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .rewards {
      @include flex-center;

      padding: 12px 0;
      align-items: center;
      gap: 16px;
      border-radius: 8px;
      background: rgb(0 0 0 / 3%);

      .amount {
        @include bold;
      }

      .unit {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      .item:last-child {
        align-items: start;
      }

      .est {
        display: block;
        color: rgb(0 0 0 / 45%);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.profit-scenario-wrapper:nth-child(2) {
  .profit-scenario {
    margin-bottom: 32px;
  }
}

.profit-scenarios-wrapper {
  &.for-position {
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;

    .profit-scenario-bg {
      padding: 32px 24px;
      background: linear-gradient(
        to right,
        rgba(#50d113, 0.12) 0%,
        rgba(#ffe500, 0.12) 100%
      );
    }
  }

  &.settled.for-position {
    padding: 0;
    background: #f5f5f5;

    .profit-scenario-bg {
      background: transparent;

      &.scenario-selected {
        position: relative;
        background: linear-gradient(
          to right,
          rgba(#50d113, 0.12) 0%,
          rgba(#ffe500, 0.12) 100%
        );
        padding-left: 50px;

        &::before {
          content: "";
          background: url("./assets/icon-scenario-selected.svg") no-repeat center;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 70px;
          left: 0;
        }
      }

      &.scenario-invalid {
        opacity: 0.5;
      }
    }
  }
}

.profit-scenario-bg.partial-executed > div {
  align-items: center;
  display: inline-flex;
  border-left: 2px solid #aaa;
  position: relative;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 7px;
    background: url("./assets/icon-info.svg") no-repeat center / 100%;
  }

  .title {
    margin-left: 7px;
    color: #000;
    font-size: 14px;
    font-weight: 500;

    &::after {
      content: "|";
      margin: 0 10px;
      font-size: 10px;
      vertical-align: middle;
    }
  }

  .subtitle {
    color: rgb(0 0 0 / 65%);
    font-weight: 500;
  }

  .line {
    position: absolute;
    left: 7px;
    bottom: -7px;
    width: calc(100% - 7px);
    height: 1px;
    background: linear-gradient(
      to left,
      transparent 0%,
      transparent 50%,
      #d8d8d8 50%,
      #d8d8d8 100%
    );
    background-size: 5px 1px;
    background-repeat: repeat-x;
  }
}

.partial-buy-tooltip {
  background: #fff;
  max-width: 500px;
}

@mixin mobile-rewrite {
  .profit-scenarios-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .executed {
      .title {
        background: #dbffa4;
      }

      .target {
        margin-left: 10px !important;
      }
    }

    .no-executed {
      .title {
        background: #ffe0c4;
      }

      .result {
        margin-left: 10px;

        > img {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .profit-scenario-wrapper {
      background-color: #fff;
      padding: 8px;
      border-radius: 8px;

      .title-info {
        width: calc(100vw - 32px);
        flex-direction: column;
        align-items: start;
        background: none;
        padding: 0;
        margin: -8px;

        .title {
          width: calc(100vw - 32px);
          padding: 8px 16px;
          display: block;
          border-radius: 8px 8px 0 0;
        }

        .subtitle {
          width: calc(100vw - 32px);
          text-align: center;
          margin: 16px 0;
        }
      }

      .profit-scenario {
        margin-bottom: 0;
        flex-direction: column;

        .left {
          @include flex-center;

          justify-content: start;
          width: 100%;
          height: auto;
          border-radius: 8px;
          background: #f7f7f7;
          flex-wrap: wrap;
          padding: 8px;
          gap: 12px;

          .action {
            display: block;
            width: 100%;
          }

          .target {
            margin: 0;
          }

          .result {
            img {
              margin-right: 8px;
            }
          }
        }

        .right {
          width: 100%;
          height: auto;
          padding: 8px;
          border-radius: 8px;
          background: #f7f7f7;

          > .label {
            margin: 0;
          }

          .rewards {
            background: none;

            .item {
              // height: auto;
            }
          }
        }
      }
    }

    .profit-scenario-bg.partial-executed > div {
      display: inline-flex;
      flex-direction: column;
      align-items: start;
      position: relative;

      &::after {
        display: none;
      }

      .title {
        &::after {
          display: none;
        }
      }

      .subtitle {
        margin-left: 7px;

        &::after {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-left: 7px;
          background: url("./assets/icon-info.svg") no-repeat center / 100%;
        }
      }
    }
  }
}

.mobile-ui {
  @include mobile-rewrite;
}
