.executed {
  .title-info {
    background: #dbffa4;
  }

  .subtitle {
    color: #3a8200;
  }

  .target {
    margin-bottom: 8px;
  }

  .exchange-rate-info {
    @include flex-center;

    justify-content: start;

    .exchange-rate {
      border-radius: 4px;
      color: #fff;
      background: #6d6d6d;
      font-size: 12px;
      font-weight: 500;
      padding: 2px 4px;
    }

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      background: url("./assets/icon-division-sign.svg") no-repeat center / 100%;
    }

    &::after {
      content: "";
      width: 6px;
      height: 4px;
      display: inline-block;
      background: url("./assets/icon-approximately.svg") no-repeat center / 100%;
    }
  }
}

.no-executed {
  .title-info {
    background: #ffe0c4;
  }

  .subtitle {
    color: #e36e00;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background: linear-gradient(
        to left,
        transparent 0%,
        transparent 50%,
        #e36e00 50%,
        #e36e00 100%
      );
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
  }

  .result {
    img {
      display: block;
      margin: 10px 0 4px;
    }
  }
}

.rewards {
  .item {
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

    .label {
      @include flex-center;

      gap: 4px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .plus-sign {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("./assets/icon-plus-sign.svg") no-repeat center / 100%;
  }
}

.profit-scenario-wrapper {
  margin-bottom: 32px;

  .unit,
  .amount {
    margin-left: 5px;
  }

  .title-info {
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    padding: 8px;
    align-items: end;
  }

  .title {
    @include bold;

    color: #000;

    .emoji {
      font-size: 19px;
      margin-right: 7px;
    }
  }

  .subtitle {
    @include bold;

    // color: #3a8200;
  }

  .profit-scenario {
    @include flex-center;

    justify-content: space-between;
  }

  .left {
    width: 140px;
    height: 132px;
    background-color: #fff;
    padding: 12px;
    border-radius: 0 0 8px 8px;

    .action,
    .target {
      color: rgb(0 0 0 / 65%);
      font-size: 12px;
      font-weight: 500;
    }

    .line {
      width: 100%;
      border: #d9d9d9 solid 0.5px;
      margin: 8px 0;
    }

    .result {
      white-space: nowrap;

      img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      .amount,
      .unit {
        @include bold;

        line-height: 16px;
        color: #000;
        vertical-align: middle;
      }

      .unit {
        margin-left: 5px;
      }
    }
  }

  .right {
    width: 365px;
    height: 132px;
    padding: 10px 16px;
    border-radius: 0 0 8px 8px;
    background: #fff;

    > .label {
      color: rgb(0 0 0 / 65%);
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .rewards {
      @include flex-center;

      padding: 12px 0;
      align-items: center;
      gap: 16px;
      border-radius: 8px;
      background: rgb(0 0 0 / 3%);

      .amount {
        @include bold;
      }

      .unit {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      .item:last-child {
        align-items: start;
      }

      .est {
        display: block;
        color: rgb(0 0 0 / 45%);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.profit-scenario-bg.partial-executed > div {
  align-items: center;
  display: inline-flex;
  border-left: 2px solid #aaa;
  position: relative;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 7px;
    background: url("./assets/icon-info.svg") no-repeat center / 100%;
  }

  .title {
    margin-left: 7px;
    color: #000;
    font-size: 14px;
    font-weight: 500;

    &::after {
      content: "|";
      margin: 0 10px;
      font-size: 10px;
      vertical-align: middle;
    }
  }

  .subtitle {
    color: rgb(0 0 0 / 65%);
    font-weight: 500;
  }

  .line {
    position: absolute;
    left: 7px;
    bottom: -7px;
    width: calc(100% - 7px);
    height: 1px;
    background: linear-gradient(
      to left,
      transparent 0%,
      transparent 50%,
      #d8d8d8 50%,
      #d8d8d8 100%
    );
    background-size: 5px 1px;
    background-repeat: repeat-x;
  }
}

.profit-scenarios-wrapper {
  &.for-position {
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;

    .profit-scenario-bg {
      padding: 32px 24px 0;
      background: linear-gradient(
        to right,
        rgba(#50d113, 0.12) 0%,
        rgba(#ffe500, 0.12) 100%
      );

      &:last-child {
        padding-bottom: 32px;
      }

      .profit-scenario-wrapper {
        margin: 0;
      }

      .left {
        padding: 12px 40px;
        width: 48%;
      }

      .right {
        width: 48%;
      }
    }
  }

  &.settled.for-position {
    padding: 0;
    background: #f5f5f5;

    .profit-scenario-bg {
      padding: 32px 24px;
      background: transparent;

      &.scenario-invalid {
        padding: 32px 24px;
        opacity: 0.45;

        &:last-child {
          padding-top: 0;
        }

        .title-info {
          background: #eee;
        }

        .subtitle {
          color: #000;
        }
      }

      &.scenario-selected {
        position: relative;
        background: linear-gradient(
          to right,
          rgba(#50d113, 0.12) 0%,
          rgba(#ffe500, 0.12) 100%
        );
        padding-left: 50px;

        .profit-scenario-wrapper {
          margin: 0 0 0 15px;
        }

        &::before {
          content: "";
          background: url("./assets/icon-scenario-selected.svg") no-repeat
            center;
          width: 30px;
          height: 30px;
          position: absolute;
          top: calc(50% - 15px);
          left: 24px;
        }

        &::after {
          background: none;
        }

        &.partial-executed {
          .profit-scenario-wrapper {
            border-radius: 8px;
            padding: 16px 26px;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: start;
            border: 0;

            .title {
              @include bold;

              display: inline;

              &::after {
                color: #eee;
              }
            }

            .subtitle {
              @include bold;

              display: inline;
            }

            &::after {
              background: none;
            }

            .profit-scenario {
              margin-top: 10px;
              width: 100%;

              .left,
              .right {
                width: 45%;
                height: 100px;
                padding: 0;
                border-radius: 8px;
                background: #dbffa4;

                .profit-title {
                  color: #3a8200;
                  padding: 5px 9px 3px;
                }

                .result {
                  @include bold;

                  padding: 12px 0;
                  border-radius: 8px;
                  border: 1px solid #e2e2e2;
                  background: #fff;
                }

                .amount,
                .unit {
                  margin-left: 5px;
                }
              }

              .left {
                .result {
                  padding: 17px 0;
                  text-align: center;
                }

                .partial-ccys {
                  @include flex-center;

                  font-size: 12px;
                  color: #666;
                  margin-bottom: 10px;
                }
              }

              .right {
                .result {
                  padding: 12px 24px;

                  img {
                    width: 16px;
                    height: 16px;
                  }

                  .est {
                    display: block;
                    font-size: 12px;
                    opacity: 0.65;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.partial-buy-tooltip {
  background: #fff;
  max-width: 500px;

  > svg {
    color: #fff !important;
  }
}

@mixin mobile-rewrite {
  .profit-scenarios-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .executed {
      .title {
        background: #dbffa4;
      }

      .target {
        margin-left: 10px !important;
      }
    }

    .no-executed {
      .title {
        background: #ffe0c4;
      }

      .result {
        margin-left: 10px;

        > img {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .profit-scenario-wrapper {
      background-color: #fff;
      padding: 8px;
      border-radius: 8px;

      .title-info {
        width: calc(100vw - 32px);
        flex-direction: column;
        align-items: start;
        background: none;
        padding: 0;
        margin: -8px;

        .title {
          width: calc(100vw - 32px);
          padding: 8px 16px;
          display: block;
          border-radius: 8px 8px 0 0;
        }

        .subtitle {
          width: calc(100vw - 32px);
          text-align: center;
          margin: 16px 0;
        }
      }

      .profit-scenario {
        margin-bottom: 0;
        flex-direction: column;

        .left {
          @include flex-center;

          justify-content: start;
          width: 100%;
          height: auto;
          border-radius: 8px;
          background: #f7f7f7;
          flex-wrap: wrap;
          padding: 8px;
          gap: 12px;

          .action {
            display: block;
            width: 100%;
          }

          .target {
            margin: 0;
          }

          .result {
            img {
              margin-right: 8px;
            }
          }
        }

        .right {
          width: 100%;
          height: auto;
          padding: 8px;
          border-radius: 8px;
          background: #f7f7f7;

          > .label {
            margin: 0;
          }

          .rewards {
            background: none;

            .item {
              // height: auto;
            }
          }
        }
      }
    }

    .profit-scenario-bg.partial-executed > div {
      display: inline-flex;
      flex-direction: column;
      align-items: start;
      position: relative;

      &::after {
        display: none;
      }

      .title {
        &::after {
          display: none;
        }
      }

      .subtitle {
        margin-left: 7px;

        &::after {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-left: 7px;
          background: url("./assets/icon-info.svg") no-repeat center / 100%;
        }
      }
    }

    &.for-position {
      width: calc(100% + 24px);
      gap: 0;
      margin-left: -12px;

      .profit-scenario-bg {
        .title-info {
          .title {
            width: calc(100% - 40px);
          }

          .subtitle {
            width: calc(100% - 40px);
          }
        }
      }
    }

    &.settled.for-position {
      .profit-scenario-bg {
        .title-info {
          .title {
            width: calc(100% - 80px);
          }

          .subtitle {
            width: calc(100% - 80px);
          }
        }

        &.partial-executed {
          padding: 24px 16px;

          &::before {
            background: none;
            width: 0;
          }

          .profit-scenario-wrapper.profit-scenario-wrapper {
            padding: 8px;
            margin-left: 0;

            .title {
              display: block;
            }

            .subtitle {
              display: block;
              margin: 16px auto;

              &::after {
                background: none;
              }
            }

            .profit-scenario {
              margin-top: 0;

              .left,
              .right {
                width: 100%;
                height: auto;
                padding: 8px;
                background: #f7f7f7;

                .profit-title {
                  color: #000;
                  padding: 0;
                  font-size: 12px;
                }

                .result {
                  @include bold;

                  text-align: center;
                  width: 100%;
                  padding: 0;
                  border: 0;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .partial-buy-tooltip {
    max-width: 100vw;
    width: 100vw;
  }
}

:global(.is-mobile) {
  @include mobile-rewrite;
}
