.more-info {
  max-width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.unfold {
    white-space: initial;
  }

  &:not(.unfold) {
    * {
      display: inline !important;
    }

    br {
      display: none !important;
    }
  }
}

.more {
  color: #1d83d2;
  cursor: pointer;
}
