.position-size {
  display: inline-block;
  padding: 0 0 0 6px;
  margin: 0 0 0 6px;
  line-height: 0.8em;
  border-left: 1px dashed rgba(#fff, 0.2);
}

.risk-desc {
  @include regular;

  margin: 0 0 0 4px;
  padding: 0 0 0 8px;
  line-height: 0.8em;
  font-size: 0.8em;
  opacity: 0.5;
  border-left: 1px dashed rgba(#fff, 0.5);
}

.head-title {
  width: $width-content;
  margin: 0 auto;
  padding: 75px 0 30px;
  font-size: min(24px, 5vw);
  color: #fff;

  .title {
    @include flex-center;

    display: none;
    margin: 0;
    font-size: min(24px, 5vw);
    text-align: center;
    color: #fff;
  }

  .infos {
    @include flex-center;

    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px 40px;
    margin: 16px 0 0;
    font-size: 16px;

    .label {
      @include regular;

      margin: 0 4px 0 0;
      font-size: 14px;
      opacity: 0.5;
    }

    .item > img,
    .item > svg,
    img.label,
    svg.label {
      flex: none;
      width: 1.2em;
      height: 1.2em;
    }

    .item {
      @include flex-center;

      gap: 4px;
    }

    .desc {
      @include regular;

      flex: none;
      width: 100%;
      font-size: 14px;
      opacity: 0.6;
    }

    :global {
      .address {
        padding: 0;
      }
    }
  }

  .selector {
    width: 300px;
  }
}

.container.container.container {
  margin: 0 auto;
  width: $width-content;
  background: transparent;

  :global {
    .semi-empty {
      @include flex-column-center;

      height: 50vh;
    }
  }
}

.share-btn {
  @include bold;
  @include pointer;

  display: inline-block;
  padding: 2px 16px;
  border-radius: 100px;
  background: #000;
  font-size: 16px;
  line-height: 36px;
  margin-left: 16px;

  span {
    background: $color-main-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      background: url("./assets/icon-share.svg") no-repeat center / 100%;
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  &:hover {
    opacity: 0.65;
  }
}

@mixin rewrite {
  .head-title.head-title {
    width: 100%;
    margin: 110px auto -1px;
    padding: 12px 0 0;
    background: #000;

    .title {
      display: flex;
      margin: -56px 0 32px;
    }

    .infos {
      width: $width-content;
      margin-left: auto;
      margin-right: auto;
    }

    .selector {
      width: fit-content;
      min-width: 150px;
      height: 36px;
      margin: 0 0 0 12px;
      border-radius: 16px;
      background-color: rgba(#fff, 0.12);
    }
  }

  .share-btn {
    // 移动端分享暂时隐蔽-无UI
    visibility: hidden;
  }
}

@media (orientation: portrait) {
  @include rewrite;
}

@media (width <=720px) {
  :global(.is-pc) {
    @include rewrite;
  }
}
