@import "../PositionCard/index.module";

.profits {
  @extend %product;

  padding: min(40px, 8vw) min(12px, 2.4vw) min(56px, 11vw);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(#000, 0.6);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: min(16px, 3vw);
    z-index: 1;
    background: var(--color-rise);
  }
}

.product-icon {
  position: absolute;
  left: max(-120px, -40vw);
  top: max(-100px, -32vw);
  z-index: 0;
  width: min(400px, 100vw);
  margin: 0;
  filter: blur(10px);
  opacity: 0.3;
}

.level-icon {
  position: absolute;
  right: min(12px, 2.4vw);
  bottom: min(12px, 2.4vw);
  margin: 0;
  line-height: min(60px, 12vw);
  font-size: min(60px, 12vw);
}

.profit {
  width: 100%;
  line-height: min(24px, 4.8vw);
  color: var(--color-rise);

  .value {
    @include bold;

    font-size: min(24px, 4.5vw);
  }

  .unit {
    padding: 0 0 0 min(8px, 1.6vw);
    font-size: min(20px, 4vw);
  }
}

.others {
  padding: min(12px, 2.4vw);
  margin: 0;
}

.infos {
  .expiry,
  .prices {
    color: #000;
    background: rgba(#262626, 0.12);
  }
}

.amounts {
  margin: min(12px, 2.4vw) 0 0;
  padding: 0;

  .amount {
    @include regular;

    margin: 0 0 4px;
    font-size: min(14px, 3vw);
    line-height: min(18px, 3.6vw);

    .label {
      color: rgba(#000, 0.5);
    }
  }
}

.icon-info {
  @include pointer;

  width: min(34px, 7vw);
}

.rule-descriptions {
  max-width: 100%;
}
