.progress {
  margin: 0;
}

.badge {
  margin: 0;
  padding: 0 6px;
  font-size: 12px;
  border: 1px solid currentcolor;
  border-radius: 3px;
  white-space: nowrap;
}

.label {
  margin: 0 0 min(16px, 3vw);
  line-height: 1.2em;
  font-size: min(16px, 3.6vw);
}

.input-wrapper {
  @include flex-center;

  justify-content: flex-start;
  margin: 0;

  .value {
    @include bold;

    font-size: min(20px, 4.2vw);
    white-space: nowrap;

    .unit {
      @include regular;

      font-size: 0.7em;
    }
  }

  :global {
    .radio-btn-group {
      gap: min(16px, 2vw);
    }

    .radio-btn {
      width: fit-content;
      height: min(32px, 6.4vw);
      padding: 0 12px;
      font-size: min(16px, 3.6vw);
      white-space: nowrap;

      img,
      svg {
        width: 1em;
        height: 1em;
      }
    }

    .progress-wrapper {
      flex: none;
      width: min(312px, 55vw);
    }
  }
}

.form-item {
  position: relative;
  padding: 0 0 min(16px, 3.6vw) min(34px, 6.4vw);
  margin: 0;
  counter-increment: step-counter;

  &::before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: 0.1em;
    line-height: 1.2em;
    font-size: 14px;
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 1.6em;
    bottom: 0.2em;
    font-size: 14px;
    border-right: 1px dashed rgba(#000, 0.2);
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

.left {
  margin: 0;
  counter-reset: step-counter;
}

.right {
  margin: 0;
}

.defi-mode-wrapper {
  @include flex-center;

  justify-content: space-between;
  align-items: stretch;
  margin: 0;
}

@mixin rewrite {
  .badge {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: 0 0 -24px;
  }

  .defi-mode-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite;
  }
}

@media (width <=500px) {
  :global(.is-pc) {
    @include rewrite;
  }
}
