.banner {
  @include flex-column-center;

  min-height: 109px;
  margin: 0;
}

.banner-txt {
  margin: 54px 0 16px;
  font-size: 24px;
  color: #fff;
}

.content {
  position: relative;
  width: $width-content;
  min-height: calc(100vh - 200px);
  padding: 80px 0 0;
  margin: 0 auto;
}

.btn-group {
  @include flex-center;

  position: absolute;
  left: 0;
  top: 16px;
  z-index: 10;
  height: 40px;

  :global(.radio-btn) {
    flex: 1;
    width: auto;
    height: 40px;
    padding: 0 16px;
    font-size: 12px;
    color: rgba(#fff, 0.65);
    border-radius: 8px;
    transition: all 0.3s ease;
    background: #262626;
    white-space: nowrap;

    svg {
      flex: none;
      width: 1.5em;
    }

    &:active,
    &:hover {
      background: rgba(#555, 1) !important;
      box-shadow: 0 5px 10px 0 rgba(#000, 0.5);
    }
  }
}

.tabs.tabs {
  :global {
    .tabs {
      width: $width-content;
    }
  }
}
