.section {
  @include flex-column-center;

  align-items: stretch;
  flex-wrap: wrap;
  gap: min(40px, 5vw);
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;

  &.section-top {
    overflow: hidden;
  }
}

.section:has(.featured-list) {
  gap: 0;
}

.featured-list {
  @include flex-center;

  justify-content: space-between;
  gap: 16px;

  .featured {
    max-width: 322px;
    min-width: max(calc((100% - (16px * 2)) / 3), 200px);
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    position: relative;
    z-index: 4;

    :global(.address) {
      color: #878787;

      svg {
        color: #000;
      }
    }

    &:hover::before {
      content: "";
      border-radius: 16px;
      position: absolute;
      inset: -1px;
      z-index: 2;
      background: linear-gradient(to right, #50d113, #ffe550);
    }

    &:hover::after {
      content: "";
      border-radius: 14px;
      background: #fafafa;
      position: absolute;
      inset: 0;
      z-index: 3;
    }

    > :global(.semi-spin) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      display: none;
    }
  }

  &.loading {
    .featured {
      > div:first-child {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }

      > :global(.semi-spin) {
        display: block;
      }
    }
  }

  :global {
    .address {
      .chain-icon {
        font-size: 20px;
        height: 16px;
        border-left: 1px solid rgba($color: #000, $alpha: 12%);
        padding-left: 6px;
        margin-left: 4px;
      }
    }
  }
}

.deposit-btn {
  @include bold;
  @include pointer;

  min-width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 80px;
  background: #000;
  font-size: 14px;
  display: inline-block;

  span {
    background: $color-main-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    opacity: 0.85;
  }
}

.deposit-btn-mask {
  display: none;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 220px;
  align-items: center;
  justify-content: start;
  background: transparent;
  backdrop-filter: blur(1000px);
}

.automators-wrapper {
  th,
  td {
    white-space: nowrap;
  }

  .pool-size,
  .creator,
  .apy,
  .deposit-ccy,
  .risk,
  .runtime,
  .people,
  .fee {
    font-weight: 510;
    font-size: 14px;
  }

  tr {
    position: relative;

    &:hover {
      .deposit-btn-mask {
        display: flex;
      }

      .fee,
      .runtime,
      .people {
        display: none;
      }

      td {
        background: transparent !important;
      }
    }
  }

  :global {
    .semi-table-row {
      position: relative;

      &:hover > td {
        // 去掉覆盖变色
        background: transparent !important;
      }
    }

    .semi-table-tbody {
      tr:nth-child(odd) {
        background: rgb(0 0 0 / 4%);
      }

      > .semi-table-row {
        > .semi-table-row-cell {
          border-bottom: none;
          height: min(72px, 12vw);
        }
      }
    }

    .semi-table-row-head {
      color: rgb(0 0 0 / 85%) !important;
      font-size: 14px;
      height: 40px;
      font-weight: 400 !important;
      background: rgb(0 0 0 / 12%) !important;
    }

    .semi-table-thead > .semi-table-row > .semi-table-row-head {
      border-bottom: 1px solid #eee;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }

  .name {
    max-width: 150px;
  }

  .header {
    display: flex;
    gap: 8px;

    img {
      width: 34px;
      height: 34px;
    }

    :global {
      .address {
        padding: 0;
        justify-content: start;
        color: #878787;

        svg {
          color: #000;
        }
      }
    }
  }

  .pool-size,
  .creator {
    color: rgb(0 0 0 / 85%);

    .unit {
      margin-left: 5px;
    }
  }

  .creator {
    font-weight: 400;
    color: rgb(0 0 0 / 45%);

    .percent {
      @include gradient-txt(linear-gradient(to right, #e88947, #ffdec3));

      font-weight: 510;
      margin-left: 5px;
    }
  }
}

.mobile-ui {
  .featured-list {
    flex-direction: column;
    width: 100%;

    .featured {
      width: 100%;
      max-width: 100%;
    }

    .card {
      width: 100%;
    }
  }
}
