.section {
  @include flex-column-center;

  align-items: stretch;
  flex-wrap: wrap;
  gap: min(40px, 5vw);
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;

  &.section-top {
    overflow: hidden;
  }
}

.featured-list {
  @include flex-center;

  :global {
    .address {
      .chain-icon {
        font-size: 20px;
        height: 16px;
        border-left: 1px solid rgba($color: #000, $alpha: 12%);
        padding-left: 6px;
        margin-left: 4px;
      }
    }
  }
}

.deposit-btn {
  @include bold;
  @include pointer;

  min-width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 80px;
  background: #000;
  font-size: 14px;
  display: inline-block;

  span {
    background: $color-main-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    opacity: 0.65;
  }
}

.deposit-btn-mask {
  display: none;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background: rgba(#fff, 0.4);
  backdrop-filter: blur(5px);
}

.automators-wrapper {
  .name {
    max-width: 150px;
  }

  tr {
    position: relative;

    &:hover {
      .deposit-btn-mask {
        display: flex;
      }

      td {
        background: transparent !important;
      }
    }
  }
}
