.tips-close {
  @include pointer;

  display: block;
  width: 16px;
  height: 16px;
}

.tips-text {
  @include flex-center;

  line-height: 20px;
}

.tips-actions {
  @include flex-center;

  flex: none;
  width: fit-content;
}

.tips-content {
  @include flex-center;

  gap: 12px;
  flex: 1;
  width: 1px;
  font-size: 13px;

  .tips-link {
    @include pointer;
    @include gradient-txt;

    display: inline-block;
    padding: 0 0 0 12px;
  }

  .icon {
    flex: none;
    width: 36px;
    height: 36px;
  }

  .icon-close {
    @include pointer;

    flex: none;
    width: 16px;
    height: 16px;
  }
}

.global-tips {
  @include flex-center;

  width: $width-content;
  min-height: 48px;
  padding: 12px 0;
  gap: 24px;
  color: rgba(#fff, 0.85);
}

.global-tips-wrapper {
  @include flex-center;

  width: 100vw;
  background:
    url("./assets/bg.svg") repeat,
    #1a1b20;
  pointer-events: initial;
}

@media (orientation: portrait) {
  .tips-close {
    top: 12px;
  }

  .tips-text {
    font-size: 12px;
    text-align: left;
  }

  // .global-tips {
  //   @include flex-column-center;

  //   gap: 6px;
  //   position: relative;
  //   padding: 12px 0;
  // }
}
