.container {
  margin: 0;
}

.title {
  @include flex-center;

  gap: 16px;
  margin: -24px 0 24px;
  font-size: 24px;
  color: #fff;

  svg,
  img {
    width: 56px;
    height: 56px;
  }
}

.product-type {
  @include flex-center;
  @include pointer;

  justify-content: flex-start;
  gap: 12px;

  svg {
    flex: none;
    width: 36px;
    height: 32px;
  }
}

.per-ticket {
  @include flex-center;

  margin: 0 0 0 6px;
  line-height: 14px;
  font-size: min(12px, 2.4vw);
  color: rgba(#fff, 0.75);
  border-width: 4px 14px 4px 6px;
  border-style: solid;
  border-image: url("./assets/icon-border.svg");
  border-image-slice: 4 14 4 6;
  border-radius: 3px;

  .amount {
    @include bold;
  }
}

.section-title {
  @include flex-center;

  justify-content: space-between;
  position: relative;
  margin: 0 auto 40px;
  padding: 0 8px;
  font-size: min(18px, 3.6vw);
  max-width: min(calc(100vw - 24px), 1200px);
  white-space: nowrap;

  .left {
    @include flex-center;

    .ccy {
      font-size: min(18px, 3.6vw);
      color: rgba(#fff, 0.45);
    }

    .bold {
      @include bold;

      color: rgba(#fff, 0.75);
    }
  }

  .icon {
    @include flex-center;

    svg {
      width: 100%;
      height: auto;
    }

    img {
      width: min(20px, 4.3vw);
    }
  }

  .customize {
    .btn-link {
      @include pointer;
      @include flex-center;

      margin: 0 auto;
      font-size: min(16px, 3.6vw);
    }
  }
}

.recommended-list {
  @include flex-center;

  flex-wrap: wrap;
  gap: 40px;
}

.recommend-section {
  max-width: min(calc(100vw - 24px), 1200px);
  margin: 0 auto 64px;
  border-radius: 24px;
}

.tag {
  @include bold;

  padding: 0 6px;
  line-height: 18px;
  font-size: 12px;
  color: #000;
  border-radius: 2px;
  background-clip: none !important;
  -webkit-text-fill-color: #000 !important;
}

@media (orientation: portrait) {
  .title {
    @include flex-center;

    margin: 12px 0;
    font-size: 14px;
    color: #fff;

    svg,
    img {
      width: 20px;
      height: 20px;
    }
  }

  :global(.top-tabs .semi-select-selection) .product-type {
    svg {
      display: none;
    }
  }
}
