.quote-explain {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;

  // &::before {
  //   content: "";
  //   display: block;
  //   width: 90px;
  //   margin: 0 0 6px;
  //   border-top: 1px solid currentcolor;
  //   opacity: 0.2;
  // }
}
