.index-prices {
  position: absolute;
  z-index: 10;
  padding: 10px 12px 10px 10px;

  * {
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: rgba(#000, 0.1);
    border-radius: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(#fff, 0.12);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  > img {
    position: absolute;
    top: calc((100% - 70px) / 2);
    left: -25px;
    width: 60px;
    transform: scale(0.8);
  }

  > :global(.spline-model) {
    position: absolute;
    top: calc((100% - 80px) / 2);
    left: -35px;
    transform: scale(0.9);
  }
}

.content {
  height: 44px;

  :global {
    .swiper-slide {
      @include flex-column-center;

      align-items: flex-start;
    }
  }
}

.index-price {
  @include flex-center;

  justify-content: flex-start;
  position: relative;
  gap: 4px;
  flex: 1;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
  color: #fff;

  .icon-ccy {
    flex: none;
    width: 16px;
  }

  svg:not(.icon-ccy),
  img:not(.icon-ccy) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 12px;
    color: var(--color-rise);
  }

  > span {
    padding: 0 0 0 2px;
  }

  &.loading {
    > svg:last-child {
      display: none;
    }
  }

  &.down {
    svg:not(.icon-ccy),
    img:not(.icon-ccy) {
      color: var(--color-fall);
    }
  }
}

.index-prices-ticker {
  display: none;

  .index-price {
    padding-top: 9px;
    width: fit-content;
    margin-right: 30px;

    > span {
      display: inline-block;
    }

    > svg:last-child {
      position: static;
      margin: 12px 4px 0 0;
    }

    &.loading {
      > span {
        // set min-width b.c. when Ticker calc the width the prices is not ready yet
        min-width: 120px;
      }
    }

    color: rgba(#fff, 0.45);

    &.focused {
      color: #fff;
    }
  }

  border-top: 1px solid rgba(#fff, 0.08);
  height: $header-ticker-height;
}

@media (orientation: portrait) {
  .index-prices-ticker {
    display: block;

    .index-price {
      margin-left: 10px;
    }
  }

  .index-prices {
    display: none !important;
  }

  .rch-entry {
    display: none;
  }
}
