@mixin gradient {
  background: linear-gradient(to right, #fff, #999);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  @include flex-center;

  justify-content: space-between;
  position: relative;
  width: 1240px;
  margin: 0 auto;
  padding: 80px 0;
  color: #fff;

  &.section-column {
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 1440px;
      height: 1064px;
      background: url("./assets/bg-light.png") no-repeat top center / 1440px
        auto;
      transform: translate(-50%, 0);
      filter: blur(20px);
    }
  }
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  @include bold;
  @include gradient;

  font-size: 80px;
  margin: 0 0 12px;
}

.desc {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 16px;
  color: rgba(#fff, 0.65);
}

.img-wrapper {
  position: relative;
  top: -80px;
  width: 570px;

  .bg-gif {
    position: absolute;
    left: -30px;
    bottom: -207px;
  }

  .img-1 {
    position: relative;
    left: 60px;
    top: 60px;
    z-index: 1;
    width: 558px;
    height: 438px;
  }
}

.title-1 {
  @include bold;
  @include gradient;

  font-size: 42px;
  margin: -70px 0 26px;
}

.desc-1 {
  font-size: 20px;
  line-height: 30px;

  .desc-item {
    display: block;
    position: relative;
    margin: 0 0 12px;
    padding: 0 0 0 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      transform: translate(0, -50%);
    }
  }
}

.img-wrapper-1 {
  position: relative;
  width: 450px;

  .bg-cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 570px;
    filter: blur(20px);
  }

  .img-2 {
    position: relative;
    width: 450px;
    height: 450px;
  }
}

.card-btn {
  @include flex-center;
  @include pointer;
  @include bold;

  height: 38px;
  padding: 0 32px;
  margin: 0;
  border-radius: 19px;
  color: #000;
  background: $color-main-gradient;
}

.title-2 {
  @include bold;
  @include gradient;

  position: relative;
  z-index: 2;
  font-size: 36px;
  margin: 0 0 70px;
}

.my-points {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 20px;
  background: $color-main-gradient;

  h3 {
    @include flex-center;

    justify-content: flex-start;
    height: 52px;
    margin: 0;
    padding: 0 32px;
    font-size: 20px;
  }
}

.points-content {
  @include flex-center;

  justify-content: space-between;
  border-radius: 19px;
  padding: 30px;
  background: #141414;
  border: 1px solid rgba(#fff, 0.2);

  > div {
    @include bold;

    font-size: 60px;

    img {
      width: 52px;
      height: 52px;
      margin: 0 18px 0 0;
    }
  }

  .card-btn {
    align-self: stretch;
  }
}

.cards {
  @include flex-center;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;

  .card {
    position: relative;
    width: 600px;
    margin: 0;
    padding: 42px 24px;
    border-radius: 40px;
    border: 1px solid rgba(#fff, 0.2);
    background: #171717;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: calc(100% - 40px * 2);
      height: 1px;
      background: linear-gradient(to right, #fff0, #fff 50%, #fff0);
      transform: translate(-50%, 0);
    }
  }

  .card-header {
    @include flex-center;

    justify-content: space-between;
    margin: 0;

    img {
      width: 80px;
      padding: 14px;
      border-radius: 10px 10px 0 0;
      background: #232323;
    }
  }

  .card-header-right {
    @include flex-center;

    gap: 12px;
    margin: 0;
  }

  .card-link {
    @include flex-center;

    border-radius: 8px;
    overflow: hidden;
    background-color: #232323;

    img {
      width: 60px;
      height: 60px;
      padding: 0;
      background-color: transparent;
      filter: grayscale(1);
    }

    &:first-child {
      img {
        filter: grayscale(1) brightness(0.5);
      }
    }

    &:hover {
      img {
        filter: none;
      }
    }
  }

  .card-content {
    margin: 0;
    padding: 32px 24px;
    border-radius: 0 10px 10px;
    background: #232323;
  }

  .card-edge {
    @include flex-center;

    width: fit-content;
    height: 26px;
    margin: 0 0 12px;
    padding: 0 6px;
    font-size: 16px;
    border-radius: 2px;
    background: #393939;
  }

  .card-title {
    @include gradient-txt;
    @include bold;

    width: fit-content;
    margin: 0 0 8px;
    font-size: 20px;
  }

  .card-desc {
    margin: 0;
    font-size: 14px;
    color: rgba(#fff, 0.65);
  }
}
