@mixin gradient {
  background: linear-gradient(to right, #fff, #999);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  @include flex-center;

  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: min(1240px, 90vw);
  margin: 0 auto;
  padding: min(80px, 12vw) 0;
  color: #fff;

  &.section-column {
    flex-direction: column;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: min(1440px, 100vw);
      height: min(1064px, 80vw);
      background: url("./assets/bg-light.png") no-repeat top center / 1440px
        auto;
      transform: translate(-50%, 0);
      filter: blur(20px);
    }
  }
}

.content {
  flex: 1;
  position: relative;
  z-index: 1;
  min-width: 300px;
}

.title {
  @include bold;
  @include gradient;

  font-size: min(80px, 9vw);
  margin: 0 0 min(12px, 2vw);
}

.desc {
  font-size: min(32px, 5vw);
  line-height: 1.5;
  margin: 0 0 min(16px, 3vw);
  color: rgba(#fff, 0.65);
}

.wallet-connector {
  width: fit-content;
  min-width: 120px;
  transform: scale(1.5);
  transform-origin: left top;
}

.img-wrapper {
  flex: 1;
  position: relative;
  top: max(-80px, -12.6vw);
  width: min(570px, 90vw);
  min-width: min(570px, 90vw);
  height: min(438px, 69.2vw);

  .bg-gif {
    position: absolute;
    right: min(200px, 31.6vw);
    bottom: max(-207px, -32.7vw);
    width: min(400px, 63.2vw);
    height: min(400px, 63.2vw);
  }

  .img-1 {
    position: absolute;
    right: max(-30px, -4.7vw);
    top: min(60px, 9.5vw);
    z-index: 1;
    width: min(558px, 88.1vw);
    height: min(438px, 69.2vw);
  }
}

.title-1 {
  @include bold;
  @include gradient;

  font-size: min(42px, 5vw);
  margin: 60px 0 26px;
}

.desc-1 {
  margin: 0 0 130px;
  font-size: min(20px, 3vw);
  line-height: min(30px, 4.5vw);

  .desc-item {
    display: block;
    position: relative;
    margin: 0 0 min(12px, 1.5vw);
    padding: 0 0 0 min(20px, 3.2vw);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: min(15px, 2.25vw);
      width: min(6px, 1vw);
      height: min(6px, 1vw);
      border-radius: 50%;
      background: #fff;
      transform: translate(0, -50%);
    }
  }
}

.img-wrapper-1 {
  position: relative;
  width: min(450px, 90vw);
  margin: 0 min(60px, 10vw) 0 max(-50px, -8vw);

  .bg-cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: min(1440px, 227.4vw);
    height: min(570px, 90vw);
    filter: blur(20px);
  }

  .img-2 {
    position: relative;
    width: min(450px, 71vw);
    height: min(450px, 71vw);
  }
}

.card-btn {
  @include flex-center;
  @include pointer;
  @include bold;

  min-width: min(100px, 20vw);
  height: min(38px, 9vw);
  padding: 0 min(18px, 4vw);
  margin: 0;
  border-radius: min(19px, 4.5vw);
  font-size: min(14px, 3vw);
  color: #000;
  background: $color-main-gradient;

  img {
    width: min(30px, 5vw) !important;
    height: min(30px, 5vw) !important;
    padding: 0 !important;
    background: none !important;
  }
}

.title-2 {
  @include flex-center;

  flex-direction: column;
  position: relative;
  z-index: 2;
  margin: 0 0 min(70px, 12vw);

  span {
    @include bold;
    @include gradient;

    font-size: min(36px, 5vw);
  }

  .btn-link {
    @include flex-center;
    @include regular;

    height: min(30px, 6vw);
    padding: 1em;
    margin: 8px 0 0;
    font-size: min(14px, 3vw);
    color: #fff;
    white-space: nowrap;
    background: #232323;
    border-radius: min(15px, 3vw);

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

.my-points {
  width: 100% !important;
  margin: -100px 0 0;
  border-radius: min(20px, 4vw);
  background: $color-main-gradient;

  h3 {
    @include flex-center;

    justify-content: flex-start;
    height: min(52px, 8vw);
    margin: 0;
    padding: 0 min(32px, 6vw);
    font-size: min(20px, 4vw);
  }
}

.points-content {
  @include flex-center;

  justify-content: space-between;
  border-radius: min(19px, 4vw);
  padding: min(30px, 6vw);
  background: #141414;
  border: 1px solid rgba(#fff, 0.2);

  > div {
    @include bold;

    font-size: min(60px, 9vw);

    img {
      width: min(52px, 8vw);
      height: min(52px, 8vw);
      margin: 0 min(18px, 3vw) 0 0;
    }
  }

  .card-btn {
    align-self: stretch;
  }
}

.cards {
  @include flex-center;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: min(40px, 8vw);

  .card {
    align-self: stretch;
    position: relative;
    flex: 1;
    width: min(600px, 90vw);
    min-width: calc((100% - min(40px, 8vw)) / 2);
    margin: 0;
    padding: min(24px, 4.4vw);
    border-radius: min(30px, 6vw);
    border: 1px solid rgba(#fff, 0.2);
    background: #171717;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: calc(100% - 40px * 2);
      height: 1px;
      background: linear-gradient(to right, #fff0, #fff 50%, #fff0);
      transform: translate(-50%, 0);
    }
  }

  .card-header {
    @include flex-center;

    justify-content: space-between;
    margin: 0;

    img {
      width: min(80px, 16vw);
      padding: min(14px, 3vw);
      border-radius: min(10px, 2vw) min(10px, 2vw) 0 0;
      background: #232323;
    }
  }

  .card-header-right {
    @include flex-center;

    gap: min(12px, 2vw);
    margin: 0;
  }

  .card-link {
    @include flex-center;

    border-radius: min(8px, 1.5vw);
    overflow: hidden;
    background-color: #232323;

    img {
      width: min(60px, 12vw);
      height: min(60px, 12vw);
      padding: 0;
      background-color: transparent;
      filter: grayscale(1);
    }

    &:first-child {
      img {
        filter: grayscale(1) brightness(0.5);
      }
    }

    &:hover {
      img {
        filter: none;
      }
    }
  }

  .card-content {
    height: calc(100% - min(80px, 16vw));
    margin: 0;
    padding: min(32px, 6vw) min(24px, 4vw);
    border-radius: 0 min(10px, 2vw) min(10px, 2vw);
    background: #232323;
  }

  .card-edge {
    @include flex-center;

    width: fit-content;
    height: min(26px, 4.8vw);
    margin: 0 0 min(12px, 2vw);
    padding: 0 6px;
    font-size: min(16px, 3vw);
    border-radius: 2px;
    background: #393939;
  }

  .card-title {
    @include gradient-txt;
    @include bold;

    width: fit-content;
    margin: 0 0 8px;
    font-size: min(20px, 4vw);
  }

  .card-desc {
    margin: 0;
    font-size: min(14px, 3.2vw);
    color: rgba(#fff, 0.65);
  }
}

@media (orientation: portrait) {
  .wallet-connector {
    transform: scale(1.1);
  }

  .img-wrapper {
    right: -5vw;
    transform: scale(0.8);
    transform-origin: center right;
  }

  .img-wrapper-1 {
    left: -10vw;
    margin-top: -30vw;
    margin-left: 0;
    transform: scale(0.8);
    transform-origin: top left;
  }

  .title-1 {
    margin: -10vw 0 3vw;
  }

  .card {
    min-width: min(360px, 90vw) !important;
  }
}
