.apy-desc {
  margin: 0;
}

.total,
.item {
  @include flex-center;

  justify-content: space-between;
}

.total {
  padding: 0 0 24px;
  margin: 0 0 24px;
  font-size: 20px;
  border-bottom: 1px dashed rgba(#000, 0.12);

  .value {
    @include bold;

    font-size: 32px;
    color: $color-rise;
  }
}

.item {
  padding: 0 0 16px;

  .value {
    @include bold;

    font-size: 16px;
  }
}

.collapse {
  margin: 16px 0 24px;
}

.collapse-item {
  margin: 0 0 16px;
  border: 1px solid rgba(#000, 0.1);
  border-radius: 8px;

  :global {
    .semi-collapse-header {
      padding: 12px 8px 9px;

      &:hover {
        background: transparent;
      }
    }
  }

  p {
    margin: 0 0 16px;

    &:first-child {
      padding: 24px 0 0;
      border-top: 1px dashed rgba(#000, 0.1);
    }
  }
}

.table {
  margin: -12px 0 16px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1px;

  .th,
  .td {
    @include flex-center;

    height: 40px;
    background: #f4f4f4;
  }
}
