.overview {
  :global(.semi-spin-children) {
    @include flex-center;

    gap: 0;
    flex-wrap: wrap;
    margin: 0;
    padding: min(40px, 4vw);
    border-radius: 8px;
    border: 1px solid rgba(#000, 0.12);
    background: linear-gradient(to right, #f4feed 0%, #fefdec 100%);
  }
}

.footnote {
  @include regular;

  margin: 0;
  padding: 0 0 0 min(8px, 1vw);
  font-size: 14px;
  color: #000;
  opacity: 0.45;
}

.desc {
  margin: min(12px, 2vw) 0 0;
  font-size: min(12px, 3vw);
}

.aum {
  width: 50%;
  height: 90px;
  margin: 0;
  padding: 0 0 0 min(40px, 2vw);
}

.title {
  margin: 0 0 min(8px, 1vw);
  opacity: 0.45;
  font-size: min(14px, 3vw);
}

.unit {
  height: 90px;
  padding: 0 0 0 4px;
  font-size: 14px;
}

.value {
  margin: 0;
  font-size: min(20px, 4vw);
  white-space: nowrap;

  .decorative {
    font-size: min(14px, 3vw);
    opacity: 0.6;
  }

  .unit {
    font-size: max(10px, 0.6em);
  }
}

.nav {
  width: 50%;
  height: 100px;
  margin: 0;
  padding: 0 0 0 min(40px, 3vw);
  border-left: 1px dashed rgba(#000, 0.12);
}

.yield {
  @include flex-column-center;

  gap: 0;
  width: 100%;
  margin: 0 0 min(32px, 4vw);

  .value {
    @include bold;

    font-size: min(32px, 7vw);
    color: #50d113;
  }
}

@mixin rewrite-ux-mobile {
  .overview {
    :global(.semi-spin-children) {
      .yield {
        .title {
          border-bottom: 1px dashed rgba(#000, 0.22);
        }
      }
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
      background: none;
      border-bottom: 1px dashed rgba(#000, 0.12);
    }
  }
  .nav {
    border-left: none;
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite-ux-mobile;
  }
}
@media screen and (width <=500px) {
  :global(.is-pc) {
    @include rewrite-ux-mobile;
  }
}
