.chain-select {
  @include flex-center;

  justify-content: flex-start;
  color: #fff;
  margin: 12px 0 24px;
  flex-wrap: wrap;
}

.chain {
  @include pointer;
  @include flex-center;

  background: rgba(#fff, 0.12);
  height: 32px;
  padding: 0 12px;
  border-radius: 16px;

  img {
    width: 1.2em;
    height: 1.2em;
  }

  .count {
    padding: 0 0 0 6px;
    margin: 0 0 0 4px;
    line-height: 1em;
    border-left: 1px dashed rgba(#fff, 0.1);
  }

  &.active {
    background: rgba(#fff, 0.24);
  }
}

.light {
  &.chain-select {
    margin: 48px 0 24px;
    color: #000;
    gap: 12px;
  }

  .chain {
    border-radius: 40px;
    background: rgb(0 0 0 / 4%);

    .count {
      padding: 0 0 0 9px;
      margin: 0 0 0 3px;
      border-left: 1px solid rgba(#000, 0.15);
    }

    &.active {
      @include bold;

      background: rgb(0 0 0 / 12%);
    }
  }
}
