.list {
  min-height: 500px;

  :global {
    .semi-spin-wrapper {
      color: #fff;
    }

    .semi-spin-children {
      @include flex-center;

      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      gap: min(40px, 3vw);
    }
  }
}

.list-wrapper {
  margin: 0;
}

.btn-bottom-wrapper {
  @include flex-center;

  position: absolute;
  right: 0;
  top: 16px;
  z-index: 10;
  height: 40px;
}

.btn-bottom {
  flex: 1;
  height: min(34px, 7vw);
  padding: 0 12px;
  font-size: 12px;
  color: rgba(#fff, 0.65);
  border-radius: 8px;
  transition: all 0.3s ease;
  background: transparent !important;
  border: 1px solid rgba(#fff, 0.24) !important;
  border-radius: 17px;
  opacity: 0.8;

  &:active,
  &:hover {
    opacity: 1;
  }

  &.btn-txt {
    border: none !important;
  }
}

.empty {
  :global {
    .semi-empty-description {
      color: #fff;
    }
  }
}

@media (orientation: portrait) {
  .btn-bottom-wrapper {
    position: fixed;
    inset: auto auto 12px 50%;
    width: min(1000px, calc(100vw - 24px));
    transform: translate(-50%, 0);

    .btn-bottom {
      border-radius: 24px;
      background: #262626 !important;
      border: none !important;
      box-shadow: 0 0 20px 0 rgba(#000, 0.5);

      &:active,
      &:hover {
        background: rgba(#555, 1) !important;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.5);
      }
    }
  }
}
