.list {
  min-height: 500px;

  :global {
    .semi-spin-wrapper {
      color: #fff;
    }

    .semi-spin-children {
      @include flex-center;

      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      gap: min(13px, 2vw);
    }
  }

  .deposit-ccy-section {
    @include flex-center;

    justify-content: flex-start;
    width: 100%;
    color: #fff;

    > img {
      width: 20px;
      height: 20px;
    }

    > span {
      line-height: 20px;
    }
  }

  .deposit-ccy-group {
    @include flex-center;

    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: min(13px, 2vw);
  }
}

.list-wrapper {
  margin: 0;
}

.btn-bottom-wrapper {
  @include flex-center;

  position: absolute;
  right: 0;
  top: 16px;
  z-index: 10;
  height: 40px;
}

.base-ccy-est-toggle {
  @include pointer;

  font-weight: 300;
  font-size: 13px;
  position: relative;
  margin-left: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  display: inline-block;

  svg {
    height: 16px;
    margin-right: 5px;
    margin-top: -3px;
  }

  .base-ccy {
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 20px;
    margin-left: 0;
  }
}

.btn-bottom {
  flex: 1;
  height: 34px;
  padding: 0 12px;
  font-size: 12px;
  transition: all 0.3s ease;
  border-radius: 17px;

  &:active,
  &:hover {
    opacity: 1;
  }

  &.btn-txt {
    color: rgba(#fff, 0.65);
    background: transparent !important;
    border: none !important;
  }

  &.btn-claim {
    @include bold;

    padding: 0 20px;
    color: rgba(#000, 0.85);
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

.empty {
  :global {
    .semi-empty-description {
      color: #fff;
    }
  }
}

@media (orientation: portrait) {
  .btn-bottom-wrapper {
    position: fixed;
    inset: auto auto 12px 50%;
    width: min(1000px, calc(100vw - 24px));
    transform: translate(-50%, 0);

    .btn-bottom {
      border-radius: 24px;
      background: #262626 !important;
      border: none !important;
      box-shadow: 0 0 20px 0 rgba(#000, 0.5);

      &:active,
      &:hover {
        background: rgba(#555, 1) !important;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.5);
      }

      &.btn-claim {
        @include bold;

        padding: 0 16px;
        color: rgba(#000, 0.75);
        background: #fff !important;
        border: 1px solid rgba(#fff, 0.24) !important;
      }
    }
  }
}
