.user-info-wrapper {
  padding: 0 0 min(16px, 3vw);
  border-bottom: 1px dashed rgba(#000, 0.12);

  :global {
    .semi-spin-children {
      @include flex-center;

      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.vault-info {
  position: relative;
  width: 70%;
  margin: 0;
  padding: 0 0 0 60px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }

  .name {
    @include bold;

    margin: 0 0 4px;
    font-size: 20px;
  }

  .desc {
    margin: 10px 0 0;
    font-size: 12px;
    opacity: 0.65;
  }

  :global {
    .address {
      justify-content: flex-start;
      padding: 0;
      opacity: 0.65;
    }
  }
}

.user-info {
  @include pointer;

  position: relative;
  text-align: right;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: auto;
  //   bottom: 6px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 24px;
  //   height: 24px;
  //   background: url("@/pages/products/automator/assets/icon-arrow.svg") no-repeat center center / contain;
  // }
}

.item {
  margin: 0 0 min(24px, 4vw);

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  @include flex-center;
  @include medium;

  justify-content: flex-end;
  margin: 0;
  font-size: min(12px, 3vw);
  color: rgba(#000, 0.45);

  a {
    color: $color-rch;
  }
}

.decorative {
  margin: 0;
  font-size: min(14px, 3.3vw);
  opacity: 0.45;
}

.amount {
  margin: 0;
}

.unit {
  @include regular;

  margin: 0;
  font-size: min(14px, 3.3vw, 0.8em);
}

.separator {
  margin: 0;
  padding: 0 min(8px, 1vw);
  font-size: min(14px, 3.3vw);
}

.rch {
  margin: 0;
  color: $color-rch;
}

.shares {
  &.decorative {
    flex: none;
    display: block;
    width: 100%;

    // margin-left: min(8px, 1vw);
    // padding-left: min(8px, 1vw);
    // border-left: 1px dashed rgba(#000, 0.12);
  }
}

.value {
  @include medium;

  margin: 0;
  font-size: min(16px, 3.6vw);
}

// .expand {
//   .item.shares {
//     display: block;
//   }

//   .value {
//     .shares {
//       display: none;
//     }
//   }

//   &::after {
//     transform: translateX(-50%) rotate(180deg);
//   }
// }

@mixin rewrite-ux-mobile {
  .user-info-wrapper {
    :global {
      .semi-spin-children {
        gap: 18px;
      }
    }
  }

  .vault-info {
    width: auto;
  }

  .user-info {
    border: none;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    .title {
      justify-content: flex-start;
    }

    .item {
      .decorative {
        &::before {
          content: "";
          display: block;
        }
      }
      .separator {
        &::before {
          content: "";
          display: block;
        }
      }
    }
  }

  .transaction-history-link {
    position: absolute;
    bottom: 0;
    margin-left: 18px;

    &::before {
      content: "";
      margin-left: -18px;
      width: 14px;
      height: 19px;
      background: url("../../assets/icon-history.svg") no-repeat center;
      position: absolute;
    }
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite-ux-mobile;
  }
}

@media screen and (width <=500px) {
  :global(.is-pc) {
    @include rewrite-ux-mobile;
  }
}
