.card {
  @include pointer;

  flex: 1;
  margin: 0;
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.name {
  @include bold;

  margin: 0;
  font-size: 20px;
}

.label {
  width: 140px;
  margin: 0;
  font-size: 14px;
  opacity: 0.45;
}

.value {
  @include bold;

  margin: 0;
  font-size: 18px;

  &.apy {
    @include bold;

    font-size: 18px;
  }

  .cvt {
    padding-left: 6px;
  }

  .weaken {
    @include regular;
    opacity: 0.45;
    font-size: 0.9em;
  }
}

.unit {
  @include regular;

  margin: 0;
  padding: 0 0 0 0.2em;
  font-size: 0.8em;
  opacity: 0.8;

  &.icon-airdrop {
    padding-right: 1em;
    background: url(../../../../positions/automator/assets/icon-airdrop.svg)
      no-repeat;
    background-position: 100% 34%;
    background-size: 0.9em 0.9em;
    display: inline-block;
  }
}

.separator {
  @include regular;

  padding: 0 6px;
  font-size: 0.9em;
  opacity: 0.8;
  vertical-align: text-top;

  &:first-child {
    padding-left: 0;
  }
}

.item {
  @include flex-center;

  justify-content: flex-start;
  margin: 0 0 min(16px, 3.2vw);
}

.header {
  @include flex-center;

  justify-content: space-between;
  padding-bottom: 16px;
  margin: 0 0 16px;
  border-bottom: 1px dashed #e0e0e0;

  .left {
    position: relative;
    margin: 0;
    padding: 0 0 0 56px;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translate(0, -50%);
    }

    :global {
      .address {
        justify-content: flex-start;
        padding: 0;
        opacity: 0.65;
      }
    }

    .infos {
      @include flex-center;

      gap: 40px;

      .other-infos {
        @include flex-center;

        gap: 40px;
      }
    }
  }

  .right {
    @include flex-center;

    gap: 40px;

    .item {
      display: block;
      margin: 0;

      .label {
        width: auto;
        text-align: right;
      }

      .value {
        @include bold;

        margin: 4px 0 0;
        font-size: 24px;
      }
    }
  }
}

.progress.progress.progress {
  height: 10px;
}

.footer {
  @include flex-center;

  justify-content: flex-end;
  margin: 16px 0 0;
  padding: 16px 0 0;
  gap: 16px;
  border-top: 1px dashed #e0e0e0;

  .btn,
  .btn-trade,
  .btn-position {
    padding: 0 24px;
    height: min(48px, 10vw);
    border-radius: 24px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &.btn-trade {
      background: #000;
      color: #fff;

      &:hover {
        background: #000;
      }
    }
  }

  a {
    color: #000;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .position-size {
    @include bold;

    padding: 0 0 0 4px;
    margin: 0 0 0 4px;
    line-height: 0.8em;
    border-left: 1px dashed #e0e0e0;
  }
}

.fee,
.runtime,
.people {
  @include flex-center;

  position: relative;
  margin: 0;

  > span {
    opacity: 0.4;
  }

  svg {
    width: 1.2em;
    height: 1.2em;
    opacity: 0.4;
  }
}

.mobile-ui {
  &.card {
    max-width: unset;
  }
}

@mixin rewrite {
  .item {
    @include flex-column-center;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;

    .value {
      margin: 0;
      font-size: 16px;

      .cvt {
        display: block;
        padding: 0;
      }
    }
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
      margin: 0 0 40px;

      .infos {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 20px;
        gap: 12px;

        .other-infos {
          margin-left: -56px;
        }
      }
    }

    .right {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      gap: 8px;

      .item {
        @include flex-center;
        justify-content: space-between;
        width: 100%;
        margin: 0;

        .value {
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }

  .footer {
    .btn-trade {
      display: none;
    }
  }
}

@media (orientation: portrait) {
  :global(.is-mobile) {
    @include rewrite;
  }
}

@media (width <=720px) {
  :global(.is-pc) {
    @include rewrite;
  }
}
