.chain {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  white-space: nowrap;

  img {
    width: 14px;
  }
}

.claim-progress {
  margin: 0;

  > svg:first-child {
    display: block;
    width: 80px;
    margin: 0 auto;
  }
}

.claim-progress-title {
  @include bold;

  display: block;
  margin: 20px 0 0;
  font-size: 16px;
  text-align: center;

  > a {
    @include pointer;

    color: #2d6fb9 !important;
  }
}

.claim-progress-status-dec {
  margin: 0;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: currentcolor;
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.claim-progress-table {
  max-width: 100%;
  margin: 30px 0 0;
  border: 1px solid #eee;
  border-bottom: none;

  th {
    height: 34px;
    background: #eee !important;
    border-bottom: none !important;
  }

  td {
    height: 40px;
    white-space: nowrap;
    background: #fff !important;
  }
}

.progress-info {
  @include flex-center;

  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px 24px;
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(#000, 0.12);
}

.progress-info-item {
  @include flex-column-center;

  align-items: flex-start;
  margin: 0;

  &.row {
    flex: none;
    width: 100%;
  }
}

.label {
  margin: 0;
  font-size: 12px;
  opacity: 0.5;
}

.value {
  @include flex-center;

  justify-content: flex-start;
  min-height: 24px;
  margin: 0;
}

.detail {
  @include pointer;

  display: inline-block;
  margin: 4px 0;
  font-size: 12px;
  color: #535bf2;
  text-decoration: underline;
}

.product-type {
  @include flex-center;

  justify-content: flex-start;
  gap: 2px;
}

.badge-leverage {
  position: relative;
  display: inline-block;
  padding: 4px !important;
  line-height: 12px !important;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(173 0 255 / 100%),
    rgb(119 36 255 / 100%)
  );
  border-radius: 4px;
  transform: scale(0.8);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 8px;
    height: 8px;
    border: 4px solid transparent;
    border-right-color: rgb(173 0 255 / 100%);
    transform: translate(0, -50%);
  }
}

.amounts {
  @include flex-center;

  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px 32px;
  padding: 8px 16px;
  margin: -16px;
  background: #eee;

  .label {
    padding: 0 40px 0 0;
    border-right: 1px solid rgba(#fff, 1);
    opacity: 0.8;
  }

  .amount {
    @include flex-column-center;

    align-items: flex-start;
    gap: 0;

    .ccy {
      font-size: 12px;
      opacity: 0.5;
    }

    .val {
      @include bold;
    }
  }
}

.claim-progress-list {
  @include flex-column-center;

  gap: 12px;
  margin: 30px 0 0;

  .amounts {
    width: 100%;
    margin: 0;
  }
}
