.share-btn,
.deposit-btn {
  @include bold;
  @include pointer;

  min-width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 80px;
  background: #000;
  font-size: 14px;
  display: inline-block;

  span {
    background: $color-main-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.share-btn {
    span {
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url("../../assets/icon-share.svg") no-repeat center / 100%;
        vertical-align: middle;
        margin-right: 8px;
        margin-top: -2px;
      }
    }
  }

  &:hover {
    opacity: 0.65;
  }
}

.share-btn-mask,
.deposit-btn-mask {
  display: none;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 159px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  background: rgba(#fff, 0.4);
  backdrop-filter: blur(5px);
}

.card {
  @include pointer;

  flex: 1;
  position: relative;
  max-width: 258px;
  min-width: max(calc(100% / 4 - 16px * 3), 200px);
  margin: 0;
  padding: 16px;
  border-radius: 16px;
  background: #fff;

  &:hover {
    .share-btn-mask,
    .deposit-btn-mask {
      display: flex;
    }
  }
}

.header {
  position: relative;
  margin: 0;
  padding: 0 0 0 56px;

  > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%);
  }

  :global {
    .address {
      justify-content: flex-start;
      padding: 0;
      opacity: 0.65;
    }
  }
}

.name {
  @include bold;

  margin: 0;
  font-size: 16px;
}

.label {
  margin: 0;
  opacity: 0.65;
}

.value {
  margin: 0;

  .warning {
    position: relative;
    padding: 2px 0;
    margin-left: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      right: 2px;
      bottom: 0;
      border-bottom: 1px dashed rgba(#000, 0.3);
    }
  }

  svg {
    width: 0.9em;
    height: 0.9em;
  }

  &.apy {
    @include bold;

    font-size: 18px;
  }
}

.progress.progress.progress {
  height: 10px;
}

.unit {
  margin: 0;
  padding: 0 0 0 0.2em;
  font-size: 0.8em;
  opacity: 0.8;
}

.percent {
  @include bold;
  @include gradient-txt(linear-gradient(to right, #e88947, #ffdec3));

  padding: 0 0 0 6px;
}

.yield,
.size,
.creator {
  @include flex-column-center;

  align-items: flex-start;
  gap: 0;
  margin: 0 0 12px;
  line-height: 25px;
}

.yield {
  margin: 20px 0 10px;
}

.footer {
  @include flex-center;

  justify-content: flex-start;
  margin: 20px 0 0;
  gap: 28px;
}

.risk,
.runtime,
.people {
  @include flex-center;

  position: relative;
  margin: 0;

  > svg {
    width: 1.2em;
    height: 1.2em;
  }

  &::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    width: 1px;
    height: 12px;
    transform: translate(0, -50%);
    background: rgba(#000, 0.1);
  }

  &:last-child::after {
    content: none;
  }
}

.mobile-ui {
  &.card {
    max-width: unset;
  }
}

@mixin rewrite {
  .yield,
  .size,
  .creator {
    @include flex-center;

    justify-content: space-between;
    gap: 0;
  }
}

@media (orientation: portrait) {
  @include rewrite;
}

@media (width <=720px) {
  @include rewrite;

  .share-btn-mask,
  .deposit-btn-mask {
    display: flex;
    background: none;
    backdrop-filter: unset;
    position: static;
    height: 0;
    padding: 0;
    border-radius: 0;

    .share-btn,
    .deposit-btn {
      // mobile UI 暂时不支持分享
      // position: absolute;
      // top: 10px;
      // right: 10px;
      display: none;
    }
  }
}
