.banner {
  display: none;
}

.content {
  width: $width-content;
  margin: 0 auto;
  padding: min(32px, 4vw);
  background: #fff;
  border-radius: 0 min(24px, 4.2vw) min(24px, 4.2vw);
}

.decoration {
  display: none;
}

.tabs {
  align-items: flex-start;
  width: $width-content;
  margin: 0 auto;
  padding: min(32px, 4vw) 0 0;

  > :global(.tabs) {
    justify-content: flex-start;

    :global {
      .top-tabs-tab {
        @include flex-center;

        width: 280px;
        height: 64px;
        font-size: 20px !important;
        color: rgba(#fff, 0.8) !important;
        border: none !important;
        background: rgba(#fff, 0.2);
        border-radius: min(24px, 4.2vw) min(24px, 4.2vw) 0 0;

        &:hover {
          background: rgba(#fff, 0.25);
        }

        &.active {
          @include bold;

          color: #000 !important;
          background: #fff;
        }
      }
    }
  }
}

.portrait-ui {
  &.tabs {
    width: 100vw;
    margin: 0 auto 10px;

    :global {
      .semi-select.semi-select {
        background: transparent;
        color: #fff;
      }

      .semi-select-selection-text {
        @include flex-center;

        justify-content: flex-start;
      }
    }
  }

  &.content {
    border-radius: min(24px, 4.2vw);
  }
}
