.head-title {
  @include flex-center;

  margin: 0;
  padding: 75px 0 30px;
  font-size: min(24px, 5vw);
  text-align: center;
  color: #fff;
}

.banner-bittensor {
  background: url("../assets/bg-bittensor.png") no-repeat center / cover !important;
}

.badge-bittensor {
  width: min(532px, $width-content);
  height: auto;
  object-fit: contain;
}

.title-bittensor {
  @include flex-center;
  margin-top: -16px;
  margin-bottom: 24px;
  font-size: 20px;
}

.form {
  width: $width-content;

  // margin: 24px auto 40px;

  @include flex-column-center;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin: 24px auto 40px;
  background: #fff;
  border-radius: 24px;
  padding: min(40px, 5vw);
  text-align: center;

  &:first-child {
    margin-top: -84px;
  }
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.chain-and-ccy {
  @include flex-center;

  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;

  .select-label {
    @include regular;

    color: #000 !important;
    font-size: 16px;
  }

  :global(.semi-select-suffix) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;

    .select-label {
      color: rgba(#000, 0.5) !important;
    }
  }

  :global(.semi-select-arrow) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
  }

  :global(.semi-select-selection) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
  }

  :global {
    .semi-select {
      width: 400px;
      background: #f0f0f0;
      border-radius: 24px;
      height: 48px;
      padding: 0 8px 0 16px;

      &:hover {
        background-color: #f0f0f0;
        border-color: rgba(#000, 0.4);
      }

      .semi-select-prefix {
        opacity: 1;
      }

      .semi-select-selection {
        justify-content: end;

        .semi-select-selection-text {
          font-size: 16px;
        }
      }
    }
  }
}

.intro {
  .btn-create {
    font-size: 14px;
    height: min(48px, 10vw);
    border-radius: min(24px, 5vw);
    padding: 0 min(40px, 5vw);
    margin: 20px auto;
  }

  .tips {
    svg {
      height: 20px;
      margin: -3px 3px 0 0;
    }
  }

  .features {
    @include flex-center;

    align-items: baseline;
    margin-block: 0;
    padding-inline: 0;
    margin-top: 40px;
    gap: min(40px, 3vw);

    li {
      text-align: left;
      list-style-type: none;
      width: min(280px, 26vw);

      svg {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
      }

      .title {
        @include bold;

        font-size: 20px;
        line-height: 24px;
        margin-bottom: 6px;
      }

      .desc {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

.faq {
  h2 {
    margin: 0;
  }

  .faq-ol {
    width: min(720px, 80vw);
    margin-block: 0;
    padding-inline: 0;
    list-style-type: none;

    li {
      border-bottom: dotted 1px rgba(#000, 0.24);
      text-align: left;
      cursor: pointer;

      .title {
        @include flex-center;
        @include regular;

        font-weight: 600;
        position: relative;
        justify-content: flex-start;
        height: 64px;
        font-size: 16px;
        line-height: 20px;
        padding-right: 20px;

        &::after {
          content: "";
          position: absolute;
          width: 18px;
          top: 0;
          bottom: 0;
          right: 2px;
          background: url("./assets/icon-fold.svg") no-repeat center;
        }
      }

      .desc {
        font-size: 14px;
        line-height: 16px;
        padding: 0 20px 20px 0;
        color: rgba(#000, 0.65);
      }

      &:hover {
        .title {
          opacity: 0.65;
        }
      }

      &.folded {
        .title {
          &::after {
            background-image: url("./assets/icon-expand.svg");
          }
        }
      }
    }
  }
}

.badge {
  padding: 6px 12px;
  font-size: 14px;
  background: rgba(#fff, 0.1);
  border-radius: 4px;

  .highlight {
    color: #f59a23;
  }
}

@media (orientation: portrait) {
  .form {
    &:first-child {
      margin-top: 0;
    }
  }
}

.mobile-ui {
  .chain-and-ccy {
    gap: 10px;

    .select-label {
      font-size: 14px;
    }

    :global {
      .semi-select {
        width: calc(100vw - 50px);

        .semi-select-selection {
          .semi-select-selection-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
