.address {
  @include flex-center;
  @include pointer;

  height: 24px;
  padding: 0 14px;
  border-radius: 10px;

  svg {
    width: 13px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &.link {
    color: #006ea7;
    text-decoration: underline;

    svg {
      display: none;
    }
  }

  &.web3name {
    // @include gradient-txt;
    margin: 0;
  }
}
