.head-title {
  @include flex-center;

  margin: 0;
  padding: 75px 0 16px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.badge {
  padding: 4px 12px;
  font-size: 12px;
  color: #000;
  border-radius: 4px;
  background: linear-gradient(90deg, #7724ff 0%, #ad00ff 100%);
}

.desc {
  margin: 0 auto;
  padding: 0 0 min(32px, 6vw);
  width: min(700px, $width-content);
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.section {
  @include flex-center;

  align-items: stretch;
  flex-wrap: wrap;
  gap: 1px;
  width: min(1080px, $width-content);
  margin: 0 auto;
  border-radius: min(24px, 5vw);
  overflow: hidden;
  background: #e0e0e0;
  flex-wrap: wrap;

  &.section-top {
    margin: max(-60px, -16vw) auto 0;
  }
}

.left {
  flex: 1;
  padding: min(40px, 5vw);
  background: #fff;
  // works together w/ flex-wrap: wrap in .section
  min-width: min(450px, 60vw);
}

.right {
  flex: 1;
  padding: min(40px, 5vw);
  margin: 0;
  background: #fff;

  :global(.semi-tabs-bar) {
    @include flex-center;

    gap: 18px;

    &::before,
    &::after {
      content: none;
    }
  }

  :global(.semi-tabs-tab) {
    flex: 1;
    border: 1px solid #e0e0e0 !important;
    border-radius: 8px !important;
    opacity: 0.8;

    &:global(.semi-tabs-tab-active) {
      border-color: #000 !important;
      opacity: 1;
    }

    .redeem {
      &::before {
        content: "";
        width: 21px;
        height: 21px;
        display: inline-block;
        background: url("./assets/icon-deposit.svg");
      }
    }

    .deposit {
      &::before {
        content: "";
        width: 21px;
        height: 21px;
        display: inline-block;
        background: url("./assets/icon-withdraw.svg");
      }
    }
  }

  :global(.semi-tabs-content) {
    padding: min(40px, 6vw) 0 min(40px, 4vw);
  }
}

.tab-title {
  @include flex-center;

  margin: 0;
  font-size: min(14px, 3.3vw);

  svg {
    width: min(24px, 5vw);
    height: min(24px, 5vw);
  }
}

.product-desc-wrapper {
  width: min(1080px, $width-content);
  margin: min(40px, 4vw) auto;
  border-radius: min(24px, 5vw);
  overflow: hidden;
}

.only-form {
  min-height: auto;
  padding-bottom: 0;

  .section {
    width: 100%;
    border-radius: 0;

    .left {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .right {
      padding-right: 0;
    }
  }
}

@mixin rewrite-mobile {
  .section {
    display: block;

    &.section-top {
      margin: 12px auto 0;
    }
  }

  .only-form {
    // margin: 36px 0 0;
    .section {
      .left {
        padding: 0 0 min(40px, 5vw);
      }

      .right {
        padding: min(40px, 5vw) 0 0;
      }
    }
  }

  .mobile-tab-none {
    :global(.semi-tabs-bar) {
      position: absolute;
      height: 64px;
      bottom: 0;
      width: 100vw;
      display: block;

      > div {
        border-radius: 0 !important;
        position: fixed;
        height: 64px;
        width: 50vw;
        z-index: 2;
        bottom: 0;
        padding: 0 !important;
        border: none !important;
        float: none;
        opacity: 1 !important;
        margin: 0 !important;

        .tab-title {
          font-size: 16px;
          line-height: 64px;
        }

        &:active {
          filter: brightness(1.25);
        }

        .deposit {
          &::before {
            background: url("./assets/icon-withdraw-light.svg");
          }
        }
      }

      > :first-child {
        left: 0;
        background: #222 !important;
        color: #fff;
      }

      > :last-child {
        right: 0;
        background: $color-main-gradient !important;
        color: #000;
      }
    }

    :global(.semi-tabs-content) {
      display: none;
    }
  }

  .mobile-tab-redeem,
  .mobile-tab-deposit {
    > .mobile-tab-bg {
      position: fixed;
      inset: 0;
      background: rgba($color: #000, $alpha: 40%);
      z-index: 2;
    }

    > :global(.semi-tabs) {
      position: fixed;
      z-index: 3;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50vh;
      min-height: 400px;
      background: #fff;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 16px;

      :global(.semi-tabs-bar) {
        > div {
          display: none;
        }

        > :global(.semi-tabs-tab-active) {
          display: block;
          padding-bottom: 12px;
          border: none !important;
          border-bottom: 1px solid rgba($color: #000, $alpha: 12%) !important;
          margin: 0 -16px;
          padding-top: 0;

          > span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .section.section-top {
    margin-top: max(-40px, -16vw);
  }

  :global(.is-mobile) {
    @include rewrite-mobile;
  }
}

@media (width <=500px) {
  @include rewrite-mobile;
}
