@import "@/styles/rewrite/modal";
@import "@/styles/rewrite/button";
@import "@/styles/rewrite/carousel";
@import "@/styles/rewrite/table";
@import "@/styles/rewrite/tabs";
@import "@/styles/rewrite/select";
@import "@/styles/rewrite/portal";
@import "@/styles/rewrite/datepicker";
@import "@/styles/rewrite/checkbox";
@import "@/styles/rewrite/input";
@import "@/styles/rewrite/dropdown";
@import "locomotive-scroll/dist/locomotive-scroll.css";

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  cursor: inherit;
  transition:
    width 0.1s ease,
    height 0.1s ease;
}

html {
  height: 100%;
}

body,
body[theme-mode="dark"] {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  font-family: system-ui, Basel, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-main;
  background: #000;
  box-sizing: border-box;
  overscroll-behavior: none;
  cursor: url("./assets/cursor.svg"), auto;

  --semi-color-primary: #000;
  --semi-color-primary-hover: #000c;
  --semi-color-primary-active: #000a;
  --color-rise: #50d113;
  --color-fall: #eb4476;
  --color-gray: #666;
  --color-rch: #51acf1;
  --semi-color-fill-0: #f0f0f0;
  --color-gradient: linear-gradient(96deg, #50d113 0.36%, #ffe500 100%);
  --color-gradient-1: linear-gradient(to right, #fffa00, #ffa82e);
  --color-gradient-2: linear-gradient(
    90deg,
    #d665a3 0,
    #e05e2b 21.35%,
    #f8d748 45.31%,
    #36af73 70.31%,
    #2d6fb9 100%
  );
  --w3m-z-index: 2000;
}

body .semi-always-dark {
  --semi-color-primary: #fff;
  --semi-color-primary-hover: #fffc;
  --semi-color-primary-active: #fffa;
  --semi-color-bg-3: #2c2c2d;
}

body.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  *::-webkit-scrollbar {
    display: none;
  }
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  overscroll-behavior: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  @include pointer;

  color: #006ea7;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.main-content {
  position: relative;
  min-height: calc(100vh - 150px);
}

svg {
  vertical-align: middle;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.bg-gradient {
  background: var(--color-gradient);
}

.txt-gradient {
  background: var(--color-gradient);
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.flex-column-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.placeholder {
  opacity: 0.45;
}
