.caption {
  margin-right: 9px;
}

.field {
  margin-right: 20px;
}

.settlement-date {
  .label {
    opacity: 0.65;
    margin-right: 9px;
  }
}

.target-price {
  .label {
    opacity: 0.65;
    margin-right: 12px;
  }

  .value {
    :global {
      .amount-input-wrapper {
        height: 30px;
        width: 200px;
      }
    }
  }
}

.extra-reward {
  flex-direction: column;

  span {
    display: block;
  }
}

.deposit-btn {
  padding: 8px 32px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid rgb(255 255 255 / 30%);
  color: #fff !important;
  opacity: 0.35;
  background: #2c2f34;
}
