.head-title {
  @include flex-center;

  margin: 0;
  padding: 75px 0 30px;
  font-size: min(24px, 5vw);
  text-align: center;
  color: #fff;
}

.form {
  width: $width-content;
  margin: 24px auto 40px;
  background: #2c2f34;
  border-radius: 40px 40px 24px 24px;

  .sub-title {
    min-height: 46px;

    @include flex-center;

    color: #fff;
  }
}

.content {
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin: 0;
  background: #fff;
  border-radius: 24px;
  padding: 24px 40px 0;

  .for-ccy-select {
    display: flex;
    gap: 16px;

    .ccy {
      @include flex-center;

      width: 212px;
      height: 62px;
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      padding: 10px 0 10px 16px;
      position: relative;

      &.selected::before {
        content: "";
        border-radius: 10px;
        margin: -1px;
        position: absolute;
        inset: -1px;
        z-index: 2;
        background: linear-gradient(to right, #79dc2d, #d7f943);
      }

      &.selected::after {
        content: "";
        border-radius: 8px;
        background: #fafafa;
        position: absolute;
        inset: 0;
        z-index: 3;
      }

      .ccy-infos {
        z-index: 4;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 6px;
        z-index: 4;
      }

      .name {
        @include bold;

        font-size: 14px;
      }

      .apy {
        color: #50d113;
      }
    }
  }
}

.custom-quote {
  display: flex;
  align-items: center;
  background-color: #2c2f34;
  margin: 0 -40px;
  border-radius: 0 0 12px 12px;
  color: #fff;
  padding: 20px 40px;
  font-size: 14px;
}
