.head-title {
  @include flex-center;

  margin: 0;
  padding: 45px 0 30px;
  font-size: min(24px, 5vw);
  text-align: center;
  color: #fff;
}

.form {
  width: $width-content;
  margin: -24px auto 40px;
  background: #2c2f34;
  border-radius: 40px 40px 24px 24px;
  position: relative;

  .sub-title {
    min-height: 46px;

    @include flex-center;

    color: #fff;
  }
}

.buy-low {
  gap: 6px;

  > .icon {
    background: url("./assets/icon-buylow-off.svg") no-repeat center;
    background-size: contain;
    width: 32px;
    height: 32px;
  }

  &:global(.active) {
    > .icon.icon {
      background-image: url("./assets/icon-buylow.svg");
    }
  }
}

.sell-high {
  gap: 6px;

  > .icon {
    background: url("./assets/icon-sellhigh-off.svg") no-repeat center;
    background-size: contain;
    width: 32px;
    height: 32px;
  }

  &:global(.active) {
    > .icon.icon {
      background-image: url("./assets/icon-sellhigh.svg");
    }
  }
}

.content {
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin: 0;
  background: #fff;
  border-radius: 24px 24px 0 0;
  padding: 24px 40px 0;

  .for-ccy-select {
    display: flex;
    gap: 16px;

    .ccy {
      @include flex-center;

      width: 212px;
      height: 62px;
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      padding: 10px 0;
      position: relative;

      &.selected::before {
        content: "";
        border-radius: 10px;
        margin: -1px;
        position: absolute;
        inset: -1px;
        z-index: 2;
        background: linear-gradient(to right, #79dc2d, #d7f943);
      }

      &.selected::after {
        content: "";
        border-radius: 8px;
        background: #fafafa;
        position: absolute;
        inset: 0;
        z-index: 3;
      }

      .ccy-infos {
        z-index: 4;
      }

      img {
        width: 36px;
        height: 36px;
        margin-right: 6px;
        z-index: 4;

        &.rch {
          margin-top: -3px;
        }
      }

      .name {
        @include bold;

        font-size: 14px;
      }

      .apy {
        @include bold;

        margin-top: 5px;
        color: #50d113;
      }
    }
  }
}

.custom-quote-bg {
  background-color: #000;
  height: 13px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: calc(1px + $width-content);
  z-index: 2;
}

.custom-quote {
  display: flex;
  align-items: center;
  background-color: #2c2f34;
  border-radius: 0 0 12px 12px;
  color: #fff;
  padding: 20px 40px;
  font-size: 14px;
  margin-top: -13px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: calc(1px + $width-content);
  z-index: 3;
}

.mobile-ui {
  display: flex;
  flex-direction: column;

  .form {
    width: 100vw;
    margin-top: 5px;

    .sub-title {
      font-size: 12px;
    }

    .content {
      padding-left: 16px;
      padding-right: 16px;

      :global {
        .semi-table-wrapper {
          .semi-table-thead .semi-table-row-head {
            padding: 0;

            &:last-child {
              text-align: right;
            }
          }

          .semi-table-tbody .semi-table-row-cell {
            padding: 0;

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .custom-quote-bg {
    display: none;
  }

  .custom-quote {
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin-top: 20px;
    position: static;
  }

  .buy-low,
  .sell-high {
    > .icon {
      display: none;
    }
  }

  .top-tabs-content {
    display: flex;
    justify-content: space-between;
  }

  .for-ccy-select {
    display: flex;
    justify-content: end;
    height: 48px;

    .ccy-item {
      font-size: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;

      .flex-center {
        @include flex-center;
      }

      .apy {
        color: #50d113;
        font-size: 14px;
      }

      img {
        width: 17px;
        height: 18px;
      }
    }
  }

  .settlement-dates-select {
    height: 48px;

    .date-item {
      font-size: 16px;
      width: 100%;
      text-align: end;
    }
  }
}
